[2015-09-29 08:19] alirahimpour89 opened #2 "Example with tabs"
Hi! Would love to see a example of a parallax header with a viewpager and tabs.

Best regards, Ali.

[2015-09-29 12:46] asker517 opened #3 "Can it solve the wrong Scrolling ....?"
hard to decscribe.. just like this
[Video](https://www.youtube.com/watch?v=uVMvLVGQlOk)
when you do short and quick fling ...

[2015-09-29 13:44] henrytao-me commented on #3
Right. It's exactly what this library is solving. Checkout some examples on the right side in the demo app. I will  add quick return animation and more examples like `ViewPager` and `NestedScrollView` soon. Up to a week.

[2015-09-29 13:45] henrytao-me commented on #2
Cool! I am working on it. `ViewPager`, `NestScrollView` and `QuickReturn` like Google Play App Detail will be updated soon. Up to a week.

[2015-09-29 14:03] Mariovc opened #4 "Flinging creates a blank space"
If you hide the appbar a bit (scrolling up half way) and then fling fast down, the recycler view scrolls good but the app bar stays on the same place.

[2015-09-29 14:13] henrytao-me commented on #4
Can I know which example did you mention and what device are you using?

[2015-09-29 22:04] Mariovc commented on #4
It is happening in all the examples of your demo app. Here is only one:
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/3913433/10179515/c0332f7e-6706-11e5-99c3-2b86660f6161.gif)

[2015-09-29 22:07] asker517 commented on #3
amazing ， looking forward :D
2015年9月29日 21:44，"Henry Tao" notifications@github.com写道：

[2015-09-29 22:14] asker517 commented on #4
yes，it exist all kinds of smoothappbar demo
2015年9月30日 06:04，"Mariovc" notifications@github.com写道：

[2015-09-29 22:21] Mariovc commented on #4
I have used a OnePlus One with Android 5.1.1 and this demo app version 0.1.0
https://play.google.com/store/apps/details?id=me.henrytao.smoothappbarlayout

[2015-09-30 04:39] henrytao-me commented on #4
It's fixed. Check out version 0.1.1. Thanks!

[2015-09-30 10:57] henrytao-me commented on #4
It's improved but still there in some cases. Let me look into it.

[2015-09-30 23:38] NicodeLee commented on #2
+1

[2015-10-01 11:54] vipinhelloindia commented on #2
+1

[2015-10-01 16:25] henrytao-me commented on #3
I updated NestedScrollView examples and some improvements. Check it out v0.1.2

[2015-10-01 16:25] #3 closed, assigned to nobody

[2015-10-01 16:28] henrytao-me commented on #4
It's fixed in v0.1.2. Check it out https://play.google.com/store/apps/details?id=me.henrytao.smoothappbarlayout

[2015-10-01 16:28] #4 closed, assigned to nobody

[2015-10-02 16:01] henrytao-me commented on #2
I added `NestedScrollView` and `QuickReturn` examples already. Checkout `v0.1.3`

[2015-10-03 10:54] akbarnwal commented on #2
Hello Henrytao,
Sorry, but I am not able to see the viewPager with Tabs.

Can you please confirm this "smooth-app-bar-layout-master" App is having  viewPager with Tabs example ?

One more thing, each tab should have RecyclerView.

Please share App link to get it if it is not.

Thanks,
Anil

[2015-10-03 11:58] akbarnwal commented on #2
Hello Henrytao,
I tested ViewPager with tabs using current "SmoothAppBarLayout", but unfortnately it is not working properly even worse like jumping.

Please suggest by sample example like ViewPager with multiple Tabs and tab is having Recyclerview.

Thanks in Advance,
Anil

[2015-10-03 14:12] henrytao-me commented on #2
Hi @nomad609,
I am working on ViewPager support. The end result will be like Google Play Games / Apps section. Please stay tuned few more days!
Also, I would like to have your opinion: how many ViewPager styles do you like to support beside these styles?
- ViewPager + Toolbar (Google Play Games / Apps section)
- ViewPager + Parallax
- Toolbar / Parallax will be showed immediately right after scrol

[2015-10-03 16:59] petersnoopy opened #11 "Example with transparent statusbar"
Hi, it would be great to see an example of a parallax header with a transparent statusbar.

[2015-10-03 23:26] henrytao-me commented on #11
Sure. I will add it in the next release. I will ping you when it's ready.

[2015-10-04 06:29] xu6148152 commented on #2
very good idea

[2015-10-04 07:44] akbarnwal commented on #2
Thanks Henrytao for fast reply and confirmation :)

I would like to work on one of the project like this link -
http://blog.grafixartist.com/wp-content/uploads/2015/09/parallax-scroll-header-tabs.png

But I tried using SmoothAppBar, but it didn't help and existing link-
http://blog.grafixartist.com/parallax-scrolling-tabs-design-support-library/

It is also not that smooth specially during scroll

[2015-10-05 07:47] bahacan19 opened #12 "how to use this lib with scrollview?"
Is there any sample to use this via scroll view? How to add header to scrollview?
Thanks

[2015-10-05 07:49] henrytao-me commented on #12
Hi @bahacan19,
I already added samples for NestedScrollView. Check out some examples in version 0.1.3

[2015-10-05 07:54] henrytao-me commented on #12
I have 2 examples:
- One uses `android.support.v4.widget.NestedScrollView` => Scrolling is handled by `getViewTreeObserver()` which works quite well.
- One uses `me.henrytao.smoothappbarlayout.widget.NestedScrollView` => Scrolling is handled by custom scroll event which is more accurate.

[2015-10-05 07:54] #12 closed, assigned to nobody

[2015-10-07 13:26] StanKocken opened #13 "Added support for SwipeRefreshLayout"
Currently if we are using a SwipeRefreshLayout, our SmoothAppBarLayout is not moving. It could be cool to add this support.

What do you think?

[2015-10-07 14:59] henrytao-me commented on #13
Let me check and make some examples. It should work!

[2015-10-07 15:25] StanKocken commented on #13
Ok, I was not able to make it work.

Into SmoothAppBarLayout, init(), you have a case with RecyclerView, ViewPager, NestedScrollView (which is not SwipeRefreshLayout) but nothing for the SwipeRL. So it will fall into "target.getViewTreeObserver().addOnScrollChangedListener()".

PS: I wanted to try to fix it during my test of your library but it's kind of hard to have your lib working as a submodul

[2015-10-07 16:21] henrytao-me commented on #13
Okie. I am about pushing new version. ;)

[2015-10-07 16:32] henrytao-me commented on #13
Hi @StanKocken
Checkout v0.1.4. You have to wait few hours to see new version on Google Play or you can build it yourself.

For second question, if you want to run this project as submodule, you can apply the config file to your project gradle. It's something like this: `apply from: "<submodule directory>/smooth-app-bar-layout/config.gradle"`

[2015-10-07 16:33] #13 closed, assigned to nobody

[2015-10-08 03:12] asker517 opened #15 "Can it support pulltorefreshLayout"
Well, i run ViewPager + Tabs + ToolBar example .. worked nice .
but all ViewPager content is RecyclerView with a header to hold the position.
I just try to use [Android-PullToRefresh](https://github.com/chrisbanes/Android-PullToRefresh) or [android-Ultra-Pull-To-Refresh](https://github.com/liaohuqiu/android-Ultra-Pull-To-Refresh) ..if add a header to RecyclerView it will effect the refreshLayout p

[2015-10-08 03:34] henrytao-me commented on #15
Hi @asker517,

Currently, `smoot-app-bar-layout` supports `SwipeRefreshLayout` from AppCompat. Checkout this thread #13 and version `0.1.4`.

Let's me know if you really want to support other PullToRefresh libraries.

[2015-10-08 03:42] henrytao-me commented on #15
You said you run ViewPager + Tabs + ToolBar already. Is it a custom code? If so, would you like to send a PR?

I just release version 0.1.4 yesterday which has major improvements and some sample code for ViewPager but they still need to be tweaked before releasing.

[2015-10-08 04:14] drakeet opened #16 "Some previous items lost when using smooth app bar layout"
It's my layout xml content:

[code]

And my screenshot when using smooth app bar layout:

![163 pic_hd](https://cloud.githubusercontent.com/assets/5214214/10357500/5041038e-6db5-11e5-8d4a-465d2d97a0ef.jpg)

As you see, some dispeard items lost,It was supposed to be like this:

![163 pic_hd](http://ww4.sinaimg.cn/large/4e03a8bbjw1ewtlo8o1lnj20qo18ggpi.jpg)

Here is certainly a number of issues, per

[2015-10-08 04:33] drakeet commented on #16
Sorry, I already know why, the Header Views cover the part of RecyclerView ... Maybe I should give it a padding

[2015-10-08 04:38] drakeet commented on #16
I see and understand: It must add a HeaderView --> HeaderHolder(layoutInflater, viewGroup, R.layout.item_header_spacing);

ok, I know how to do now. sorry and thanks for your great work!

[2015-10-08 04:38] #16 closed, assigned to nobody

[2015-10-08 05:00] henrytao-me commented on #16
Look like you have ViewPager below Toolbar. Is that correct? If so, just want to let you know, I am working on ViewPager support. It's almost done and will be pushed to production this weekend.

[2015-10-08 05:39] asker517 commented on #15
@henrytao-me
No,I just run version 0.1.4 ViewPager + Tabs + ToolBar Example :smile:

I use other PullToRefresh library because  it's easy to custom refreshing layouts and animations ..
maybe just a case ...but help needed ..thanks for your reply rapidly.

[2015-10-08 05:55] henrytao-me commented on #15
Sweet. I will take a look at other PullToRefresh libraries. However, checkout `getScrollTarget(View target)` method in `BaseBehavior`, if you have any idea to make it widely supports other PullToRefresh, feel free to send a PR. Happy coding.

[2015-10-08 05:57] henrytao-me commented on #2
PR is coming. I will deploy this weekend. Cheers!

[2015-10-08 09:08] StanKocken commented on #13
Thanks it works with SwipeRefreshLayout now.

[2015-10-08 12:16] PedroMobile commented on #2
+1

[2015-10-08 12:28] shmuelr opened #18 "Recycler View with a few items"
Hey,

When the recyclerview has only a few items and does not fill up the screen then the collapsing toolbar does not work. It stays in the expanded state and does not allow the recyclerview to scroll, due to the fact that all of the recycler items are visible onscreen at once.
I verified that with the design support library the toolbar will collapse up even if the recyclerview only has one item.

[2015-10-08 13:29] henrytao-me commented on #18
Hi,
SupportDesign and SmoothAppBarLayout use different approach. In case all items are onscreen, I think there are no need for scrolling. Do you think so?

[2015-10-08 13:32] shmuelr commented on #18
Thanks for the prompt response!
It gets into a weird state when there is one item peeking of the bottom of the screen. Then I am able to scroll it up a tiny bit, but only until the edge of the last item. The collapsing toolbar is then in a collapsed state and does not collapse all the way.

[2015-10-08 13:49] henrytao-me commented on #18
Can you send your layout file?

[2015-10-08 14:06] shmuelr commented on #18
Here is the layout file - http://pastebin.com/E6NNt75f

I also uploaded a screenshot here - http://www.tiikoni.com/tis/view/?id=3148596
When there are 5 items on my screen (Galaxy Note 4) then the bar collapses half way but no more because the recyclerview is in full view.

[2015-10-08 14:13] henrytao-me commented on #18
In your case, I suggest you can:
- Just remove activity title. Tiny scrolling is not too bad.
- Or add more `padding-bottom` and use `clipToPadding=false` to make it's always full-scrollable.

Take a look at Google Contact App. Tiny scrolling is still a pretty good behavior. If you have any other feedback or suggestion, please let me know.

[2015-10-08 23:33] #18 closed, assigned to nobody

[2015-10-09 06:16] hardikamal commented on #2
Hi @henrytao-me can u please add listview,scrollview and recycleview in the tabs with parallaxview...Thanks

[2015-10-09 08:40] henrytao-me commented on #2
I will deploy new version this weekend. It will support scrollView, recyclerView in tabs with parallaxView. ListView is later because I haven't tested it.

[2015-10-10 04:30] akbarnwal commented on #2
Thanks Henry, we are waiting for good smooth version app.

[2015-10-10 17:09] henrytao-me commented on #2
Sweeeeeeeet! version `0.1.5` is out. Check it out. ViewPager support + Inbox App and Google Play App Detail samples included.

[2015-10-10 17:09] #2 closed, assigned to nobody

[2015-10-10 17:09] henrytao-me commented on #11
Sweeeeeeeet! version `0.1.5` is out. Check it out. ViewPager support + Inbox App and Google Play App Detail samples included. #2

[2015-10-10 17:09] #11 closed, assigned to nobody

[2015-10-10 17:32] petersnoopy commented on #11
Thank you, I will try...

[2015-10-11 12:23] akbarnwal commented on #11
Thanks Henrytao :)
Really "Smooth ViewPager Parallax" is very smooth compare to native one.

Can we get "Smooth ViewPager Parallax" with DrawerLayout ? I am not able to get any example with it in Google. If you have same example please share link.

Thanks again.

Thanks
Anil

[2015-10-11 12:37] henrytao-me commented on #11
I think you can combine my top 2 examples: inbox and google play.

[2015-10-11 12:43] henrytao-me commented on #11
Let me post some examples later. ;)

[2015-10-11 15:26] henrytao-me commented on #11
Hi @nomad609,

Check it out. I added 2 more examples in version `0.1.8`.

[2015-10-11 15:32] henrytao-me opened #23 "[Know issue] Should keep ScrollView offset in ViewPager"
Implementing ViewPager is quite tricky.

_Step:_
- Checkout example `Smooth ViewPager`
- Scroll 1st page to x offset
- Move to 2nd page, scroll to y offset
- Back to 1st page, scroll down
- It should not move `AppBarLayout` down.

However, thing is more complicated when you just scroll half of `AppBarLayout`. What should `AppBarLayout` move when you scroll up and down after switching tab?

[2015-10-11 17:13] akbarnwal commented on #11
Thanks Henrytao :)

You are very fast, really appreciates your help.

I will check and let you know.

Thanks,
Anil

[2015-10-11 21:06] henrytao-me commented on #11
Cool. Grab me some beer then. ;) Cheers!

[2015-10-12 07:15] ssung99 opened #24 "scrollToPosition(0) not working"
RecyclerView scrolls (intermediate list) AppBarLayout this state when collased
Calling the scrollToPosition (0)
AppBarLayout is not expanded
If forced to call a appBarLayout.setExpanded () it seems one normally seen
When you scroll through the list it disappears immediately.

[2015-10-12 07:20] henrytao-me commented on #24
Hi @ssung99
Can you give more information about your issue?
- What example are you using?
- Can you post your layout?
- Do you use ViewPager?
- If you are using ViewPager, can you post your adapter?

[2015-10-12 07:39] ssung99 commented on #24
Hi @henrytao-me

use SmoothSwipeRefreshLayout, not ViewPager

SmoothAppBarLayout sample app excute ->
SmoothSwipeRefreshLayout select ->
list up scroll ->
focus "Line 10", AppBarLayout state is collapsed  ->
Forced to call scrollToPosition(0)

I want,,
list focus "Line 0", AppBarLayout  state is expanded

but
list header show (blank paddingTop area)

[2015-10-12 07:42] henrytao-me commented on #24
Have you tried `recyclerView.smoothScrollToPosition(0)` instead of `recyclerView. scrollToPosition(0)`?

[2015-10-12 07:44] ssung99 commented on #24
I already also calls smoothScrollToPosition(0)
Well not,

Forced call appBarLayout.setExpanded()

But his good showing It disappears when you scroll right

[2015-10-12 08:35] henrytao-me commented on #24
Let me check tonight

[2015-10-12 09:12] ssung99 commented on #24
Thank you so much~

I saw test

When the number of the list changes, item is added to the list
Calling recyclerView.smoothScrollToPosition(0), AppBarLayout does not seem to expand

[2015-10-12 09:46] henrytao-me commented on #24
Hi @ssung99

I still can not imagine your scenario. Can you record a video? However, `SmoothAppBarLayout` has method call `syncOffset()` and `syncOffsetDelayed(int delayMillis)` which can help in some cases. Ex: remove items from RecyclerView, manually changing scroll offset.

Can you try this?

[code]

[2015-10-12 13:50] henrytao-me commented on #24
Hi @ssung99

There are 2 ways to solve your scenarios. I added some examples here.
Checkout this branch https://github.com/henrytao-me/smooth-app-bar-layout/tree/issue-24

You can also checkout this diff https://github.com/henrytao-me/smooth-app-bar-layout/commit/7dab3c0678fd04818f2fc707b751b10adcc780f7

Let me know if this issue is fixed. By default, I will close this ticket tomorrow.

Happy codi

[2015-10-13 02:38] ssung99 commented on #24
Unfortunately,
mp4 file is unsupported file type.

![Uploading 20151013113352.jpg…]()

[2015-10-13 02:43] ssung99 commented on #24
Unfortunately,
mp4 is unsupported file type.

![Uploading 20151013113352.jpg…]()

list scrolling (list focus is located in the middle of the list) ->
add item (As it is shown in the image flie "# Line 0") ->
call smoothScrollToPosition(0)

[2015-10-13 02:44] henrytao-me commented on #24
What's happened @ssung99 ?

[2015-10-13 02:44] henrytao-me commented on #24
Can you upload to youtube?

[2015-10-13 02:49] ssung99 commented on #24
![20151013113352](https://cloud.githubusercontent.com/assets/15084536/10444359/7e03ce48-71a0-11e5-9757-726c2ce69c10.jpg)

list scrolling (list focus is located in the middle of the list) ->
add item (As it is shown in the image flie "# Line 0") ->
call smoothScrollToPosition(0)

[2015-10-13 02:53] henrytao-me commented on #24
What's the step to reproduce that issue? Did you try my suggestion? https://github.com/henrytao-me/smooth-app-bar-layout/commit/7dab3c0678fd04818f2fc707b751b10adcc780f7

[2015-10-13 03:35] ssung99 commented on #24
The latest source is right !

getSampleData() modified

  protected List<String> getSampleData() {
      List<String> data = new ArrayList<>();

[code]

  }

private void initAdapter() {
        adapter = new SimpleRecyclerViewAdapter(new SimpleAdapter<>(getSampleData(), null)
               {
            @Override
            public RecyclerView.ViewHolder onCreateFooterViewHolder(LayoutInflater

[2015-10-13 03:41] ssung99 commented on #24
As you have told us advice

methd  call syncOffsetDelayed()

---->
recyclerView.scrollToPosition(0);
appBarLayout.syncOffsetDelayed();

i'm happy to slove~~
It is so much thanks

[2015-10-13 03:50] henrytao-me commented on #24
I see the problem. While you call `initAdapter();`, the RecyclerView doesn't have any scroll offset. It's can not do any smoothscroll either. That's why you need to delay it.

I think problem is solved.

[2015-10-13 03:50] #24 closed, assigned to nobody

[2015-10-21 12:19] sdex opened #26 "Improve text scaling"
Hello.

I think, it will be nice to use text scaling like in default implementation of [CollapsingToolbarLayout](https://android.googlesource.com/platform/frameworks/support/+/6ba61c5/design/src/android/support/design/widget/CollapsingToolbarLayout.java#234) instead of setTextSize in [SmoothCollapsingToolbarLayout](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-lay

[2015-10-21 13:03] henrytao-me commented on #26
Hi @sdex
Thanks for your suggestion. Let me include that in the next release. :ok_hand:

[2015-10-22 15:36] 3mph4515 opened #27 "SmoothNestedScrollViewParallax2Fragment does not work with new v7:23.1.0 library"
Google updated their support-design library to v7:23.1.0 and it seems like smooth nested scrollview doesn't work correctly now.

Header can moves separately from the main view. Watch this video
http://tinypic.com/player.php?v=2q24cwn%3E&s=8#.VikCNvkrKUk

Reverting to v7:23.0.1 fix the issue.

[2015-10-22 20:04] henrytao-me commented on #27
I see. I will fix it soon. Thanks a lot.

[2015-10-23 01:15] henrytao-me commented on #27
Hi @3mph4515

Can you provide more information about that issue? I tested with support `23.1.0`, it works normally.
- Which version of `smooth-app-bar-layout` are you using?
- Are you playing with the example apk on Google Play or your own project?
- What device are you using? What android version is it?

[2015-10-23 01:18] henrytao-me commented on #27
Wait. I see what you mean. Here is from Support Design `23.1.0`: `You’ll also find that AppBarLayout now allows users to start scrolling from within the AppBarLayout rather than only from within your scrollable view - this behavior can be controlled by adding a DragCallback.` Let me investigate.

[2015-10-23 01:36] henrytao-me commented on #27
Hey,

Checkout version `0.2.0`. It is fixed. It's interesting to have `DragCallback` in support design `23.1.0`. However, it's still buggy. I disabled it by default.

[2015-10-23 01:36] #27 closed, assigned to nobody

[2015-10-23 07:53] 3mph4515 commented on #27
It was smooth-app-bar from last 0.1.9 library. And I just edit your own sample project from git.

Now it works like a charm. Thank you.

P.S. They said fling issue was fixed in 23.1.0. Nice try, Android team :+1:

[2015-10-23 12:57] henrytao-me commented on #27
Sweeeeeet. Enjoy!

[2015-10-23 23:00] henrytao-me commented on #26
Hmmmmmmm. Look like it's quite tricky to translate and scale all `title`, `subtitle` and `avatar` correctly.

[2015-10-27 10:23] ximida opened #29 "why can not use minifyEnabled true???"
why can not use minifyEnabled true???

[2015-10-27 10:31] AlexNsbmr opened #30 "Remove items"
When the header is collapsed and we remove items in the `RecyclerView` and we scroll back to the top, the header still appears collapsed with the empty space created by the item. We need to scroll twice to make the header appear again.

Would it be possible to achieve to make the header follow the new height of the `RecyclerView` after a item removal ?

I'm using a RecyclerView with `android:clipT

[2015-10-27 11:50] henrytao-me commented on #29
Yo @ximida

I put some note in README. Please try this: `Please make sure all classes aren't shrinked or minified by proguard.`

[code]

Let me know if it works. I will close this ticket. ;)

[2015-10-27 11:56] henrytao-me commented on #30
Hi @AlexNsbmr

`SmoothAppBarLayout` has a method called `syncOffset` and `syncOffsetDelayed`. After removing some items in recyclerView, you can call one of these methods to refresh appbar offset.  [Check out this link - SmoothAppBarLayout - L151](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmooth

[2015-10-27 12:40] AlexNsbmr commented on #30
@henrytao-me That worked like a charm, thanks a lot for the help and keep up the good work!

[2015-10-27 12:57] #30 closed, assigned to nobody

[2015-10-27 13:16] henrytao-me commented on #30
Thank man. Nice to know you are using this library. ;) Please help to spread it out ;)

[2015-10-27 15:54] ximida commented on #29
sorry, I wrote it wrongly, I use shrinkResources true, than I can not generate signed release APK .Why??

[2015-10-27 21:50] henrytao-me commented on #29
Hi,

If you are using other libraries, please check out their progruard configurations too. Ex: `butterKnife`... Check out my sample app here. It works!

https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/build.gradle#L16
https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/proguard-rules.pro#L19

[2015-10-28 10:26] ghost opened #32 "getSupportActionBar().setTitle("MyToolbar"); not working"
I am trying to set title to toolbar but it is showing blank...

[code]

[2015-10-28 15:05] henrytao-me commented on #32
Hi @MrDarpan

Of course, it won't work. You have to setTitle using `CollapsingToolbarLayout`. It's from Google Support Design.

`This setup uses CollapsingToolbarLayout’s app:layout_collapseMode="pin" to ensure that the Toolbar itself remains pinned to the top of the screen while the view collapses. Even better, when you use CollapsingToolbarLayout and Toolbar together, the title will automaticall

[2015-10-28 15:05] #32 closed, assigned to nobody

[2015-10-28 15:05] henrytao-me commented on #29
I think I should close it. Let me know if you have that problem again.

[2015-10-28 15:05] #29 closed, assigned to nobody

[2015-10-28 19:29] PedroMobile commented on #23
is bug on ViewPagerRunnableAdapter?

[2015-10-29 01:43] henrytao-me commented on #23
Yes, it is. However, the root cause is from `SmoothAppBarLayout.onScrollChanged`. It's tricky to sync header (toolbar + tabLayout) offset when switching between tabs because their scroll offset are different.
SmoothViewPager doesn't have any problem in QuickReturn mode.
SmoothViewPager and SmoothViewPagerRunnable have the same problem because they are in ExitUntilCollapsed mode. For me, it's quite

[2015-10-29 06:29] ghost commented on #32
I tried setTitle() on CollapsingToolbarLayout but still title is not visible, however all other icons like toolbar menu and HomeUp arrow are visible..

[2015-10-29 11:25] henrytao-me commented on #32
It is kind of weird. We can do teamviewer if you want. Add me on skype: henrytao.me (GMT+7)

[2015-11-02 15:43] eneim commented on #23
Hi. I want to contribute to this library. But it turns out that you have your customize version of RecyclerView which cause some troubles. What is the point of that? IMO multi-layer custom dependencies is not a good practice for open source though. Please consider to put your extension of RecyclerView in this library or even consider to remove them. Using as close to the original one is best for o

[2015-11-02 19:22] henrytao-me commented on #23
Can you explain more about the issue of RecyclerView?

I did use custom RecyclerViewAdapter, not RecyclerView. Also, the library itself doesnt depends on RecyclerViewAdapter, just the example has it as dependency.

[2015-11-03 11:15] h6ah4i opened #33 "Should remove app_name string and <application> tag in AndroidManifest.xml"
Hi. I noticed some small issues.

First, the `app_name` string resource should be removed from the library module in order to avoid same resource name conflictions.

Second, `<application>` tag in `AndroidManifest.xml` of the library module should be removed also. It will conflict with user application and we need to specify `tools:replace="android:label"` in user app's `AndroidManifest.xml`.

Tha

[2015-11-03 11:21] h6ah4i opened #34 "Use consumerProguardFiles"
This library is already published as AAR format, so it is better to use `consumerProguardFiles` function instead of mentioning about Proguard in README.

[2015-11-03 13:18] henrytao-me commented on #34
Thanks a lot @h6ah4i ;)

[2015-11-03 13:18] #34 closed, assigned to nobody

[2015-11-03 13:22] henrytao-me commented on #33
Sweet. Love to fix this issue.

[2015-11-03 13:22] #33 closed, assigned to nobody

[2015-11-04 02:17] eneim commented on #23
Yes, but it (your custom Adapters) depends on some component of RecyclerView, for example: the LayoutManager. Furthermore, I figure out that the main problem was the proguard script which changes the LinearLayoutManager class name, therefore RecyclerView could not recognize it again. Please take care of proguard script for UI components.

About the idea of your library, the header view approach is

[2015-11-04 02:43] henrytao-me commented on #23
Hi @eneim
I sent another PR for fixing proguard internally. You don't have to specify this library in your proguard file anymore.

If some how Support Design version xxx can fix the laggy issue with non-header approach, we can move back to origin. For now, most of Google Apps (Inbox, Google Play, Google Contact...) are using header approach (I believe).

If you have any idea or found something are

[2015-11-13 14:34] devindi opened #36 "Programmatically child scroll"
Hi, I used that lib and all is ok.

my xml

[code]

I have NesedScrollView at Viewpager and I do scrollView.scrollTo(0, 5000) scroll view scrolled but app bar layout didn't.

What I am doing wrong?

[2015-11-13 21:45] henrytao-me commented on #36
Hi @devindi

There are 2 ways to do that.
- First, you can call `SmoothAppBarLayout.syncOffset` or `SmoothAppBarLayout.syncOffsetDelayed` after calling `scrollView.scrollTo(0, 5000)`. Check out here [syncOffset](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L151)
- Second, yo

[2015-11-13 21:45] #36 closed, assigned to nobody

[2015-11-16 13:31] devindi commented on #36
Hi @henrytao-me
Thanks for your advices but it didn't help me =( I still see app bar

[2015-11-16 13:34] henrytao-me commented on #36
Weird. Do you want to have Skype call or Teamviewer?

[2015-11-25 19:28] zoopolitic opened #40 "resetOffset when appBarLayout expanded"
In new version of design library was added setExpanded() method which expands AppBar, however scroll and translation are not reset on this event. Need to add event to reset mCurrentScrollOffset, mCurrentTranslationOffset when AppBarLayout expands, otherwise there is wrong behaviour

[2015-11-26 01:46] henrytao-me commented on #40
Let me look into it.

[2015-11-30 05:27] myscreen opened #41 "MDToolbar Theme"
Hi, Thanks for your awesome library. According to your 3 steps, I just add your library from gradle compile "me.henrytao:smooth-app-bar-layout:0.2.1" and change the Remove app:layout_behavior="@string/appbar_scrolling_view_behavior".
Add header to your scroll view or recyclerView. Or set paddingTop and clipToPadding="false".

When I wanna build, it is looking for AppStyle.MdToolbar. I would apprec

[2015-11-30 06:40] henrytao-me commented on #41
Hi @myscreen,

There are 2 ways you can fix it.
- You can ignore `AppStyle.MdToolbar` and create your Toolbar style.
- You can add bootstrap library `android-md-core` [here](https://github.com/henrytao-me/android-md-core). However, I don't recommend this way for now because it's under development. I am still working on v2 release for `android-md-core`.

Thanks for using this library. Love to help

[2015-11-30 06:40] #41 closed, assigned to nobody

[2015-11-30 06:43] myscreen commented on #41
Thanks for replay. The issue is that by removing mdtollbar it cant work. So code below is what I attempt to run but the parallax does not move.

<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

[code]

[2015-11-30 06:50] henrytao-me commented on #41
Please change `Toolbar` to this

[code]

If you set `layout_height` bigger than `actionBarSize`, it won't work. It also happens on original AppBarLayout implementation.

[2015-11-30 06:57] henrytao-me commented on #40
Can you upload a video to demonstrate the issue? @zoopolitic. `SmoothAppBarLayout` has few methods that you can use to sync `offset`, especially when you add new item to RecyclerView, ListView or ScrollView. Check out here [syncOffset](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout

[2015-11-30 07:44] myscreen commented on #41
Thanks again for your replay.
without style app work however the parallax not moving up. it cant move. when I add style it gets below error.

java.lang.RuntimeException: Failed to resolve attribute at index 3
            at android.content.res.TypedArray.twGetColorStateList(TypedArray.java:438)
            at android.content.res.TypedArray.getColorStateList(TypedArray.java:420)
            at andr

[2015-11-30 08:19] henrytao-me commented on #41
I would say you don't need to use `mdcore`. I will create another demo for you when I am back home. It'll roughly take few hours. I will ping you soon.

[2015-11-30 08:25] myscreen commented on #41
Thanks, I am waiting for you. Thanks again

[2015-11-30 13:53] henrytao-me commented on #41
Hi @myscreen,

Check out my `fresh` module here https://github.com/henrytao-me/smooth-app-bar-layout/tree/issue-41

Good luck.

[2015-11-30 15:23] myscreen commented on #41
Thanks so much. now I am working on it. I will inform you asap. But I have other question. I am using https://github.com/Yalantis/Phoenix as pull to refresh. Can you explain to me how we can use it with yours together. if you dont mind. thanks

[2015-11-30 16:06] myscreen commented on #41
![screenshot_2015-12-01-00-02-49](https://cloud.githubusercontent.com/assets/14212198/11476686/0587ccf4-97bf-11e5-88f0-b6f1aa229525.png)
I added same as your fresh project. But one difference is that I havent use fragment with ObservableScrollView. I use simple fragment with Recyclerview. The Parallax not moving but list scrolling under parallex.

<android.support.design.widget.CoordinatorLayout x

[2015-11-30 23:12] henrytao-me commented on #41
Hi @myscreen

Check out develop branch. I added 2 examples for customizing PullToRefresh. It should work normally with current release.

What is your issue then? Can you make a video?

[2015-12-01 07:01] myscreen commented on #41
Hi, since morning I am reviewing your code. thanks so much for fast response. Not yet being successful but I do my best. Because I would like to have viewpager with recyclerview list + phonix pull to refresh. For having this, does it require special layout or just merging booth your sample is enough. Thanks and I update you asap.

[2015-12-01 11:03] myscreen commented on #41
![screenshot_2015-12-01-18-55-39](https://cloud.githubusercontent.com/assets/14212198/11498921/606a7560-985d-11e5-8ab0-022f8eb855e4.png)

Hi, after many hours with your best supports, I have reach to run without error viewpager type but without rcyclerview. Now I added the recyclerview which I used https://github.com/yasevich/endless-recycler-view .
The picture that I attached shows that when I sc

[2015-12-01 15:38] matejhacin opened #42 "Programatically scrolling to bottom of RecyclerView causes problems"
I always scroll to the bottom of RecyclerView as soon as it has data like this:

vRecyclerView.scrollToPosition(adapter.getItemCount() - 1);

I am trying to use Smooth Parallax and this causes problems. Toolbar doesn't collapse when it is scrolled to the bottom, so you have to scroll up and then back down for it to disappear.

What I want is simple. When activity starts, RecyclerView is scrolled t

[2015-12-02 00:07] henrytao-me commented on #42
Hi @matejhacin
Check out [syncOffset](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L151) and [syncOffsetDelayed](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayo

[2015-12-02 01:44] #40 closed, assigned to nobody

[2015-12-02 01:49] henrytao-me commented on #41
Hi @myscreen

When the content of ScrollView / ListView / RecyclerView is added dynamically, it's tricky to notify automatically. So that, you have to call [syncOffset](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L151) or [syncOffsetDelayed](https://github.com/henrytao-me/s

[2015-12-02 08:17] myscreen commented on #41
hi, It is working but from other fragment calling SmoothAppBarLayout , syncOffset  is not a good way because sometimes it refers to null object. I have one fragment for my list and viewpager is at other fragment. so calling those function is difficult.
however still it working and thanks so much for your great warms supports. I have attempted to buy a coffee for you from your sample app however un

[2015-12-02 08:52] matejhacin commented on #42
Thanks for the reply, I just tried both of those methods but it sadly doesn't work. Nothing happens differently at all.

Any other ideas maybe?

[2015-12-02 09:27] henrytao-me commented on #42
Can you extract your project to somewhere that I can review?

[2015-12-02 09:32] henrytao-me commented on #41
Thank for your support. I just test with my friend. The donation works on my side. :o. Hmmmmmm.

[2015-12-03 10:03] matejhacin commented on #42
I was actually simply testing it out by editing your sample code. I edited the "Smooth parallax" sample.

I only added two lines:

[code]

[2015-12-04 04:57] henrytao-me commented on #42
Thank @matejhacin. Let me try when I am back home.

[2015-12-04 14:55] osiloke opened #43 "*videos included* Weird scroll offset when using any custom recycler view"
Hi, i'm using this library with [android-advancedrecycleview's](https://github.com/h6ah4i/android-advancedrecyclerview) expandable list function. I get two different behaviours when i use with your library and android appbar layout. The videos below explain it.

Using your library
Video: https://vid.me/ArFg
Xml: https://gist.github.com/osiloke/03ba1f060ec8434a3786
Using support library
Video: http

[2015-12-04 16:19] branemk opened #44 "Exit Until colapsed not working"
I am having trouble implementing smooth collapsing toolbar.

My Layout looks like this

[code]

Now, when I  to add smoothappbar and add padding to Nested scroll my whole View scrolls with toolbar , I want toolbar to stay pinned .  How to achieve that ?

[2015-12-05 10:39] mikluke opened #45 "snap flag not works"
snap not works. for example:

   <android.support.design.widget.CollapsingToolbarLayout
        android:id="@+id/collapsing_toolbar"
        android:layout_width="match_parent"
        android:layout_height="158dp"
        android:background="@drawable/main_header_background"
        app:contentScrim="@color/transparent"
        app:titleEnabled="false"
        app:layout_scrollFlags="scroll|span|

[2015-12-05 23:13] henrytao-me commented on #42
Hi @matejhacin,

Check out branch [issue-42](https://github.com/henrytao-me/smooth-app-bar-layout/tree/issue-42) and version `0.2.2`. I fixed it.

[2015-12-05 23:13] #42 closed, assigned to nobody

[2015-12-05 23:19] matejhacin commented on #42
That is awesome! Thanks!

[2015-12-06 02:32] henrytao-me commented on #44
Can you check this example [Smooth ExitUntilCollapsed](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample%2Fsrc%2Fmain%2Fres%2Flayout%2Ffragment_smooth_exit_until_collapsed.xml#L27). It's quite similar with what you want.

[2015-12-06 02:32] #44 closed, assigned to nobody

[2015-12-06 02:47] henrytao-me commented on #45
Hi @mikluke,

By default, `SmoothAppBarLayout` is designed for `snap` animation. I prefer don't use original AppBarLayout `snap` property. The reason is that I designed `SmoothAppBarLayout` when SupportDesign was v22. Now, I have to review the design again with v23. However, in the mean time, you can achieve the same `snap` animation with some following examples [Smooth Default](https://github.com

[2015-12-06 02:47] #45 closed, assigned to nobody

[2015-12-06 02:54] henrytao-me commented on #43
Hi @osiloke
`SmoothAppBarLayout` and `AppBarLayout` are using different approach. With `SmoothAppBarLayout` you have to specify header spacing for RecyclerView. Try to get the height of your `Carpaccio` view, then add paddingTop to RecyclerView like this:

[code]

[2015-12-06 02:54] #43 closed, assigned to nobody

[2015-12-06 18:58] osiloke commented on #43
cool, thanks

[2015-12-10 04:58] myscreen commented on #41
hi give me alternative to buy coffee pls ;(

[2015-12-10 14:42] henrytao-me commented on #41
Hi @myscreen

Thanks. You can buy me a coffee here. I just add that. https://github.com/henrytao-me/smooth-app-bar-layout#donation

[2015-12-12 09:32] remcomokveld opened #48 "Better fix for this issue"
This is not really an issue, but i just wanted to let you know that i have been searching through recyclerview and nestedscrollview and i have found the real bug in those views. Check out this issue https://code.google.com/p/android/issues/detail?id=195800. In comment #3 is a replacement of nestedscrollview and a subclass of recyclerview which correctly dispatch any rest velocity to the nestedscro

[2015-12-12 13:33] henrytao-me commented on #48
You got my credit. I starred it. Looking forward to see response from android team.

[2015-12-14 17:11] myscreen opened #49 "Spacing Header Issue"
Hi, I would like to know is there any posibility to use spacing header out of adapter because I have adapter which has already sticky headers and I cant add extra spacing header. Even I add in XML Layout it is not working. Thanks man ;)

[2015-12-15 01:17] henrytao-me commented on #49
Hi @myscreen
You can use this wrapper adapter https://github.com/henrytao-me/recyclerview-multistate-section-endless-adapter. The idea is: your sticky header and list item will be `BaseAdapter`. The header spacing will be included in `WrapperAdapter`. `WrapperAdapter` will be passed into `RecyclerView`.

Check it out and let me know if it helps.

[2015-12-16 01:04] #49 closed, assigned to nobody

[2015-12-17 22:46] ghost opened #50 "ViewPager not scrolling?"
Hello, first of all thank you for this improvement of AppBarLayout. I managed to create a simple activity with collapsing toolbar and a nestedscrollview under it. I have encountered a problem when using tablayout: everything is setted fine, but when i scroll a fragment (tab) the AppBarLayout remains expanded, static.
What do i have to change when passing from AppBarLayout to SmoothAppBarLayout in

[2015-12-18 22:51] henrytao-me commented on #50
Can you post your layout here?

[2015-12-22 20:16] ghost commented on #50
Here: sorry for the delay

[code]

With stock appbarlayout and the layout_behavior for viewpager it works well, like this it seems like the viewpager isn't synchronized with smoothappbarlayout

P.S. there is a coordinatorlayout not shown :S

[2015-12-23 12:00] henrytao-me commented on #50
Hi, I have a fever and in hospital now. It may take few more days. Sorry about it.

[2015-12-28 23:40] ghost commented on #50
Oh , I'm sorry!
I will be waiting :D

[2015-12-28 23:50] henrytao-me commented on #50
Hi @narger17
Can you provide more information about your project? Ex: device info, api version. Your layout looks quite the same with this layout [fragment_smooth_view_pager_parallax.xml](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample%2Fsrc%2Fmain%2Fres%2Flayout%2Ffragment_smooth_view_pager_parallax.xml). Can you also look into fragment implementation too? [SmoothViewPager

[2015-12-29 11:17] ghost commented on #50
My device is a Nexus 5 with Android M and the project is setted up this way:
min sdk level : 15
target/compile sdk level : 23
main activity theme : Theme.AppCompat.Light.NoActionBar

public class MainActivity extends AppCompatActivity {
...

public void TabsSetUp() {
        ViewPager viewPager = (ViewPager) findViewById(R.id.viewPager);
        TabLayout tabLayout = (TabLayout) findViewById(R.id.

[2015-12-29 14:02] myscreen opened #51 "Scrolling up"
Hi, Hope your fever had gone and you are better. When I scroll down few pages, then when I wanna scroll up before reaching first row of recyclerview the smoothappbarlayout is scrolling down to the position. Can you tell me what is wrong? I have done exactly what you mention before. I have implemented by using viewpager.

[code]

[2015-12-29 14:59] ghost commented on #50
I made it ! I forgot to implement ObservableScrollView to DummyFragment ! :D thank you anyway !

[2015-12-29 14:59] #50 closed, assigned to nobody

[2015-12-31 16:43] Fshamri opened #52 "Add new feature for Toolbar"
I have my toolbar/appbar layout is in activity and in fragment i have either recyclerView or LinearLayout where the first view  is imageView header of certain height say 200dp. here i want to have toolbar to be transparent and change its background alpha to primary color when scroll down and back to transparent background when scroll up

It will be greate if you add new this feature.

Thnaks

[2016-01-01 02:25] henrytao-me commented on #51
Hi @myscreen

For viewpager, it's tricky to implement scrolling. Your issue is happened when you switch to another page after scrolling the first page. It's a known issue.

For me, it's acceptable. Let me know if you don't think so.

[2016-01-01 02:27] henrytao-me commented on #52
Hi @Fshamri,

Did you check my example app? Check out `Google Play` and `SmoothViewPagerParallaxDrawerLayout` demo.

[2016-01-01 16:43] Fshamri commented on #52
got it..  thanks a lot

[2016-01-01 16:48] #52 closed, assigned to nobody

[2016-01-03 20:31] tekinarslan opened #53 "Listview insted RecyclerView"
Hi,
I try to add listview instead of RecyclerView, but Smootappbarloyout sample not working.
List scroll behind appbarlayout.
How can I fix this ?

Thanks.

[2016-01-04 01:58] #51 closed, assigned to nobody

[2016-01-04 01:58] #48 closed, assigned to nobody

[2016-01-04 01:59] henrytao-me commented on #53
Let me look into it

[2016-01-04 07:36] #53 closed, assigned to nobody

[2016-01-09 02:32] R4md4c opened #54 "No scroll happening when I start scrolling from SmoothAppBarLayout itself."
Hello,

I have a long heightened SmoothAppBarLayout that it's height is computed after getting some data from an API, and a ViewPager that contains RecyclerViews.

Here is the xml of my layout

[code]

The problem happens when the HomeTeasersView become too long that I cannot see the ViewPager, I'm stuck with unscrollable content, although If I switched to Google AppBarLayout scrolling works norma

[2016-01-09 03:27] henrytao-me commented on #54
Hi @R4md4c
SmoothAppBarLayout is using different approach compared to SupportDesign. ScrollView / ListView / RecyclerView need to dispatch events and control the animation. Therefore, if HomeTeasersView is too long, it can not be scrolled. Maybe there are the way to do it. Let me investigate. In the meantime, if you have any suggestion, just let me know.

Thanks,
Henry

[2016-01-09 15:21] Deepankur-Sadana commented on #23
Hi @henrytao-me, I have an idea to solve this bug. When you scroll back to the 1st viewpager which has x offset, the AppbarLayout should come down only at the top of the recycler view (essentially after scrolling back to the 1st entry). Any recommendations of how we could achieve that?

[2016-01-14 08:34] arberg opened #55 "AppBar scroll problem on (animated) layout height change of row height"
Hi,

The Smooth app bar has a scroll problem when the row height of the recyclerview items are animated. The problems appears for the Enter Always scroll-mode, where the appbar exits completely and only enters when recyclerview is scrolled to the top.

I have created a branch with sample code which illustrates the problem (more on this below): https://github.com/arberg/smooth-app-bar-layout/tree/d

[2016-01-15 02:24] henrytao-me commented on #55
Hi @arberg,

Thanks for your report. I am really appreciate. Let me check.

[2016-01-15 02:36] henrytao-me commented on #55
Can you add me as a collaborator in your fork repo? I would like to send some PRs

[2016-01-15 02:52] henrytao-me commented on #55
In general, the solution is: if items in RecyclerView are changed height or removed, we have to explicitly call [syncOffset](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L151) or [syncOffsetDelay](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-ba

[2016-01-15 05:58] henrytao-me commented on #23
Hi @Deepankur-Sadana, the tricky part is calculating totalScrollOffset of RecyclerView which I still don't know what is the best solution.

[2016-01-15 09:50] arberg commented on #55
I have added you. Thank you very much for the help.

[2016-01-15 13:38] henrytao-me commented on #54
Hi @R4md4c
I checked my examples. I actually can scroll in `CollapsingToolbarLayout` section. Does your `HomeTeasersView` have click event?

[2016-01-15 13:55] henrytao-me commented on #55
I pushed my commit. Please check and adjust delay time depending on your need. However, this is just a workaround for now until I find a better solution to calculate scrollingOffset in RecyclerView.

[2016-01-16 09:11] Deepankur-Sadana commented on #23
Hi @henrytao-me  , no problems I am on it. I will have you know the solution if I am able to deal with it .
I appreciate you for acknowledging the concern.

[2016-01-16 11:46] R4md4c commented on #54
Hi @henrytao-me
Sorry for the late reply, the `HomeTeasersView` itself does not have click events, but it contains children that have click listeners, would that make a problem?

[2016-01-16 12:45] henrytao-me commented on #54
Yes, it causes the problem. I guess you have to dispatch touch event somehow.

[2016-01-16 13:17] henrytao-me commented on #23
Thanks a lot. Let me know if you find something interesting.

[2016-01-17 23:28] R4md4c commented on #54
I've removed the setOnClickListener calls inside the view and the scrolling works with no problems now, I'll figure out something for dispatching the touch event.

Wouldn't it be a good idea to add general interface for these kind of views and handle that interface somehow inside the SmoothAppBarLayout the same as you are doing in PagerAdapter?

[2016-01-20 17:16] kuhnp opened #56 "Collapsing too early in Smooth ViewPager Parallax"
In the Smooth ViewPager Parallax example, the image starts fading very early. Is there any workaround to modify the offset that triggers the toolbar to collapse. The default value seems to be 2 times the size of the toolbar.

[2016-01-21 11:34] zubinkadva opened #57 "Cards on top of AppBar"
Hi,
After removing app:layout_behavior, my cards are scrolling on top of the AppBar.
Please refer to the screenshot for more info.

Please help me!!

![capture](https://cloud.githubusercontent.com/assets/16817334/12479396/d1a8a3d4-c060-11e5-858e-0a40219661dd.PNG)

[2016-01-21 21:22] deep-154 commented on #13
Hi, I know this issue is closed, but SwipeRefreshLayout is not working. I am using 0.2.0 version of your lib.
The main issue is since my collapsingToolbar does not have fixed size, I am providing the padding to SwipeRefreshLayout at runtime. I have also setClipToPadding(false).
Any help will be greatly appreciated.

Thanks

[2016-01-22 09:52] henrytao-me commented on #57
Hi @zubinkadva

Can you share your layout file?

[2016-01-22 14:02] zubinkadva commented on #57
Thanks for the reply. XML files are allowed to be attached, so I attached TXT instead.
activity_view_contact is the main XML
content_view_contact is the content XML

Thanks..

[content_view_contact.txt](https://github.com/henrytao-me/smooth-app-bar-layout/files/100859/content_view_contact.txt)
[activity_view_contact.txt](https://github.com/henrytao-me/smooth-app-bar-layout/files/100860/activity_vi

[2016-01-23 01:36] henrytao-me commented on #57
Can you change the order of your layout, like below code?

[code]

[2016-01-23 04:48] henrytao-me commented on #56
Hi @kuhnp

I am not sure about it. I haven't tried it. Did you look up on stackoverflow?

[2016-01-23 07:52] zubinkadva commented on #57
I changed the order as you said and it works!! Thanks a lot sir. The issue has been resolved.
Thank you for your kind assistance.

[2016-01-23 07:52] #57 closed, assigned to nobody

[2016-01-23 14:30] henrytao-me commented on #57
You are welcome!

[2016-01-24 19:39] ghost opened #58 "Snapping ?"
Hello, the 'snap' flag isn't supported, is it? I wanted to recreate an appbar similar to play store's one and i need the snap function... I've managed to create a behavior but it didn't work... any ideas ?

thank you

[2016-01-27 16:22] junyuecao opened #59 "The first page of a ViewPager doesn't work when setAdapter is asynchronized"
The data of my adapter of the ViewPager is fetched from a asynchronized API so setAdapter will be called after the BaseBehavior's onMeasureChild. So that the first page of the ViewPager does not work.
Once I switched between pages of the ViewPager everything works fine.

[2016-01-27 19:24] borgwald opened #60 "Possibilty to initially expand parallax appbarlayout to specific offset smaller than ImageView size"
Hello,

i am trying to not fully expand my smoothappbarlayout. reason: my imageview inside collapsingtoolbarlayout can contain full sized images in portraitmode and i want to expand my smoothappbarlayout max half size of screen, maintainig the ability to expand further until the whole image is visible.

i tried it with Appbarlayout.Behavior:

[code]

this does expand my smoothappbarlayout only to

[2016-01-27 20:51] henrytao-me commented on #58
At the moment, SmoothAppBarLayout doesn't support snap. Let me review it this weekend.

Cheers,
Henry

[2016-01-27 20:54] henrytao-me commented on #59
Can you try [syncOffset](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L151) or [syncOffsetDelayed](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L162)

[2016-01-27 21:01] henrytao-me commented on #60
Hi @borgwald

I looked into WhatsApp profile style, I am not sure you are asking about cover animation or title/subtitle animation but overall, we can easily achieve this style with SmoothAppBarLayout and SmoothCollapsingToolbarLayout.

I can make an example this weekend and ping you when it's ready.

Cheers,
Henry

[2016-01-27 21:26] borgwald commented on #60
hello henry.

when you look at whatsapp into the detail of a user, at the initial start of the detailactivity the toolbar is not expanded to the full imagesize. this is what i want to achieve. when you scroll down in whatsapp, the toolbar expands a little more until the whole image is visible. i dont have a good startingpoint on how to achieve this with smoothappbarlayout.

[2016-01-27 22:03] henrytao-me commented on #60
Oh. I see what you mean. For that kind of style, I can make it work with ScrollView. Making it work with RecyclerView (with Async loading) is kind of tricky. What's your need right now? ScrollView with pre-design item or RecyclerView with async loading items?

[2016-01-27 22:09] borgwald commented on #60
hello henry,

first of all thanks for your reply and efforts.

i am using a recyclerview in my layout.

[2016-01-27 22:14] henrytao-me commented on #60
;). I found that our needs are always more than existing apps from BigCorp. But that makes things are more interesting. Let me work on it this weekend. Thanks for your consideration to use this library.

Cheers,
Henry

[2016-01-28 02:41] junyuecao commented on #59
I've tried but it doesn't work.

[code]

The vScrollTarget is null here. I think the root cause is from [here](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FBaseBehavior.java#L241) . The `vViewPager.getCurrentItem()` is 0 but the ViewPager does not have pages.
So `vScrollTarget` is null  at the firs

[2016-01-28 06:31] ghost commented on #58
Ook thank you!
Il 27 gen 2016 21:52, "Henry Tao" notifications@github.com ha scritto:

[2016-02-02 13:12] overengineered opened #61 "Does not restore behavior correctly after orientation change"
Steps to reproduce:
1. Start activity with SmoothAppBarLayout, CollapsingToolbarLayout with `app:layout_scrollFlags="scroll|exitUntilCollapsed"` and a long list of items below
2. Scroll to the bottom of list
3. Rotate phone to the side
4. Rotate phone back
5. verify that list bottom is displayed (unfortunately this cannot be reproduced in Sample application as it does not preserve list position be

[2016-02-02 13:58] henrytao-me commented on #61
Hi @overengineered

Thanks for your feedback. I will fix it in up coming version.

Cheers,
Henry

[2016-02-02 16:43] bachphuc commented on #61
Hi.
First, thanks for great library. I'm trying to integrate your library for my app.
I have same issue like above.

My Java code

[code]

and xml code

[code]

It's working if orientation not change, when orientation change app bar not scroll, it alway expand.
Lets me know if I was wrong.

Thanks
Regards

[2016-02-02 22:44] henrytao-me commented on #61
As @overengineered proposed, it needs to save and restore some parameters. Let me work on that and ping you when it's ready (probably soon).

Cheers,
Henry

[2016-02-03 07:36] GeekySingh opened #62 "View pager is static, can't scroll it."
Hi, I am using this library to make my app bar smooth but after implementing the same code, my view pager is static and it is not scrolling. Even my CollapsingToolbarLayout is not scrolling now.

Below is the XML code I used:

[code]

I used the same ViewPagerRunnableAdapter and below is one of my fragment code that I used in adapter:

[code]

And the Java code:

[code]

I tried to debug the code

[2016-02-03 11:16] llpj opened #63 "Title displays ellipsis instead of full text in collapsed state"
If we use a long title it shows ellipsis in expanded state which is normal, but in collapsed state it should show full text as in standard coordinator layout

[2016-02-04 00:59] henrytao-me commented on #62
Can you send me this file? `HotelDetailBaseFragment.java`

[2016-02-04 01:00] henrytao-me commented on #63
Got it. Thanks for your report. Text collapsing will be fixed in up coming release. (soon)

[2016-02-04 04:20] GeekySingh commented on #62
Here it is:

[code]

[2016-02-04 06:33] bachphuc commented on #61
Thanks you.

[2016-02-04 06:36] henrytao-me commented on #62
Hi @gaganpreet4423,

I mean I would like to see how you initiate pagerAdapter. I don't see it either in `HotelDetailBaseFragment` or `HotelDescriptionChildFragment`. It may be in `BaseFragment`.

Would you please send it here too?

[2016-02-04 06:38] GeekySingh commented on #62
I used the same ViewPagerRunnableAdapter (with my fragments) in view pager

[2016-02-05 08:02] petersnoopy commented on #26
+1

[2016-02-05 08:03] petersnoopy commented on #61
+1

[2016-02-07 06:25] henrytao-me commented on #55
Hi @arberg

Let me know if v1.0.0 can fix this issue.

[2016-02-07 11:34] wpbloger opened #66 "Bug height, if use RecyclerView and exitUntilCollapsed"
Hello.
I found a bug with the height SmoothAppBarLayout.
Here's a screenshot:
http://i9.pixs.ru/storage/0/3/4/Screenshot_4811339_20581034.png
It shows how RecyclerView gets on SmoothAppBarLayout.
My code layout activity:

[code]

i used device: android 4.2.2 (api 17)
i used libraries:
com.android.support:support-v4:23.1.0
com.android.support:appcompat-v7:23.1.0
com.android.support:design:23.1.0
me

[2016-02-07 12:54] henrytao-me commented on #66
Look weird. Can you try to set background color for RecyclerView?

[2016-02-07 13:27] wpbloger commented on #66
Yes i can, here is a new screen http://i10.pixs.ru/storage/5/1/9/Screenshot_5359153_20582519.png

[2016-02-07 21:01] arberg commented on #55
Hi Henry,

Thanks, scrolling is great. I PM'ed you with minor problem. I noticed the buttons are sticky, and this listener gets called with 1.0 until too late it gets called with <1

[code]

Best Alex

[2016-02-08 08:27] henrytao-me commented on #66
I guess it's a problem with the theme. You may set wrong background or window background of the theme somehow. Let me know if you have other thoughts. If it's possible, let me review your repo somehow.

[2016-02-09 12:10] bkolarov opened #68 "RecyclerView scroll bug when swiping between tabs with Smooth ViewPager Parallax"
I noticed a bug, occurring also in the sample app. Lets say I have two tabs in a ViewPager with RecyclerViews. I scroll the first one to the bottom. Then I swipe. Then I scroll the second one to the bottom. Swipe back to the first one. Here if I try to scroll up (to scroll to the top) the RecyclerView doesn't move, but the collapsing toolbar is moving instead. In this case the RecyclerView should

[2016-02-09 12:36] henrytao-me commented on #55
Hi @arberg

I think I should close this ticket.

Best,
Henry

[2016-02-09 12:36] #55 closed, assigned to nobody

[2016-02-09 12:40] henrytao-me commented on #68
Hi @bkolarov

I got what you mean. It's tricky to make ViewPager work perfectly with SmoothAppBar v0.x. I am refactoring the core library in v1.x. The fix for ViewPager is coming soon. I will let you now when it's ready.

Thanks,
Henry

[2016-02-09 12:42] bkolarov commented on #68
Thank you for your fast reply. I'm looking forward to your updates. Meanwhile I'll let you know if we find a fix at work for that issue.

Good luck!

[2016-02-10 07:15] arberg commented on #55
Sounds good, Thank you for the help. Just for others to know, the scrolling problem mentioned is also in the native google appbar layout and is a minor issue with regards to look and feel, so its not worth the effort for Henry to bugfix more of google code, I think.

Thank you for the help, Best Alex

[2016-02-12 12:39] arhi23 opened #69 "SoftKeyboard moves layout under AppBarLayout"
Hi,
I encountered a problem.
When I set windowSoftInputMode to "adjustResize|stateHidden" in my Activity, and focus edittext in NestedScrollView - AppBarLayout isn't scrolled, and parent of edittext is moved under AppBarLayout. But if I swipe on NestedScrollView and after that I focus edittext, than everything works fine and AppBarLayout is scrolled correctly. Is it a bug, or I'm doing something w

[2016-02-13 03:47] henrytao-me commented on #69
Hi @arhi23

Let me check and get back to you soon.

[2016-02-13 04:02] henrytao-me commented on #15
Hi @asker517

`v1.0.2` is out. You can try [smoothAppBarLayout. setScrollTargetCallback(...)](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L126)

Let me know if you need more help.

[2016-02-13 04:02] #15 closed, assigned to nobody

[2016-02-13 04:04] henrytao-me commented on #23
Hi @PedroMobile @eneim @Deepankur-Sadana

Check out `v1.0.2`. ViewPager now supports `exitUntilCollapsed` and `quickReturn` too. They are all interesting.

[2016-02-13 04:04] #23 closed, assigned to nobody

[2016-02-13 04:07] henrytao-me commented on #54
Please reopen this issue if it still exists or have any other thoughts. IMO, it's fixed.

[2016-02-13 04:07] #54 closed, assigned to nobody

[2016-02-13 04:11] henrytao-me commented on #59
I think this issue is fixed in v1.0.2 and above. Check it out. @junyuecao

[2016-02-13 04:11] #59 closed, assigned to nobody

[2016-02-13 04:13] henrytao-me commented on #62
Hi @gaganpreet4423

Please check out new examples in v1.0.2

[2016-02-13 04:13] #62 closed, assigned to nobody

[2016-02-13 04:14] henrytao-me commented on #66
Hi @wpbloger

Please check out v1.0.2. Let me know if it works or still doesn't work for you.

[2016-02-13 04:14] #66 closed, assigned to nobody

[2016-02-13 04:22] henrytao-me commented on #69
Hi @arhi23

It's fixed in v1.0.2. Check it out.

Cheers,
Henry

[2016-02-13 04:22] #69 closed, assigned to nobody

[2016-02-13 10:45] henrytao-me commented on #61
Hi @overengineered

I fixed this issue in v1.0.3. Check out new implementation there. I will write some documentations later.
Thanks a lot.

Cheers,
Henry

[2016-02-13 10:45] #61 closed, assigned to nobody

[2016-02-13 10:47] henrytao-me commented on #68
Hi @bkolarov

Please check out new version 1.0.3. It's fixed.

Thanks!

[2016-02-13 10:47] #68 closed, assigned to nobody

[2016-02-14 02:26] asker517 commented on #15
OK I will try it later . thanks

Hi @asker517 https://github.com/asker517

v1.0.2 is out. You can try smoothAppBarLayout. setScrollTargetCallback(...)
https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2FSmoothAppBarLayout.java#L126

Let me know if you need more help.

—
Reply to this email directly or vie

[2016-02-15 04:25] ghost commented on #62
Hi @henrytao-me,
Thanks for update, will let you know after trying v1.0.2

[2016-02-15 08:57] bkolarov commented on #68
I updated the project with the new version of your library. It is working properly now. Thank you!!

[2016-02-15 21:47] lishiyo opened #74 "Dynamic AppBar Height"
Hi there! Thanks so much for making this. I was wondering, is there a way to support variable/dynamic appbarlayout heights, where my appbar wraps a placeholder fragment that when swapped can end up any height?

[code]

^^My xml. In your examples it seems that `SmoothAppBarLayout` is a fixed height, rather than `wrap_content`. I set a minimum height as I'm using a viewpager, but the recyclerviews i

[2016-02-15 22:55] henrytao-me commented on #74
Hi @lishiyo

Please post the whole layout file, so that I can get more idea about what you want to do. What version of SmoothAppBarLayout are you using?

[2016-02-15 23:43] lishiyo commented on #74
I'm using the latest version - `1.0.3` I believe. My layout file looks like -

[code]

In my activity's `onCreate`, I instantiate a new `HeaderFragment` which inflates another layout (the description, avatar, image etc) and `add` it to `R.id.header_fragment_placeholder`.

I tried attaching a `ViewTreeObserver.OnGlobalLayoutListener` to the SmoothAppBarLayout and in its listener call `findViewById(

[2016-02-16 02:08] henrytao-me commented on #74
Hi @lishiyo

Below are few comments on your layout:
- Set `layout_scrollFlags` in TabLayout is not a right approach.
- If you use ViewPager, you should define `minHeight` for `SmoothAppBarLayout`. Check out some important notes here https://github.com/henrytao-me/smooth-app-bar-layout/wiki#important-notes
- `exitUntilCollapsed` and `enterAlways` are not a right combination.

Try out my sample here

[2016-02-16 17:12] lishiyo commented on #74
Hi @henrytao-me, I've tried out the sample and updated my layout:

[code]

but the issue I think is that the header fragment is added into the appbarlayout _after_ `SmoothAppBarLayout.Behavior` has measured offset, so the viewpager's measurements are wrong.

[2016-02-16 21:54] henrytao-me commented on #74
Hi @lishiyo

I don't think delay adding header fragment causes any problem.

I modified the code like below. After 3s, it still worked correctly.

[code]

Would you mind to record a video to show the issue?

[2016-02-16 22:21] lishiyo commented on #74
Sure! Here's a gif: https://media.giphy.com/media/1x7qw0P0Fw6vm/giphy.gif

That gif's a bit quick, but you can see how the inserted fragment "covers" the viewpager:
<img src=https://cloud.githubusercontent.com/assets/7489058/13093434/49eb7052-d4d3-11e5-86d9-474493784985.png width=210>

This is the code I added to get that gif, using your `SmoothViewPagerActivity` sample: https://gist.github.com/li

[2016-02-16 22:34] henrytao-me commented on #74
I see what you mean. IMO, it's not a best practice to change header height on the fly like that. If you really want to change it, here are my suggestions:
- SmoothAppBarLayout uses HeaderView for both ScrollableView for each PagerItem (RecyclerView or NestedScrollView) and PlaceHolderView outside ScrollableView (HelloWorld view + Toolbar + TabLayout). Those views must have the same height. If you

[2016-02-17 23:30] juliooa commented on #74
Hi @henrytao-me ! Thanks for your awesome library.

I got the same problem from this issue, I'm trying to add a custom view in the header. And when the user scroll I want a parallax effect.
The problem is that the viewpager content (recycleviews) get cut and hidden behind the tabs.

<img width="410" alt="screen shot 2016-02-17 at 8 23 32 pm" src="https://cloud.githubusercontent.com/assets/1221345/

[2016-02-17 23:34] juliooa commented on #74
ok this is weird, if I invert the order and put the viewpager first, this happened
<img width="408" alt="screen shot 2016-02-17 at 8 31 53 pm" src="https://cloud.githubusercontent.com/assets/1221345/13128603/b95b5492-d5b5-11e5-8ed8-5b31f82206d8.png">

[2016-02-17 23:53] henrytao-me commented on #74
Hi @juliooa,

As I mentioned above, each viewpager item header (either paddingTop of NestedScrollView or item 0 of RecyclerView) should have the same height with custom header.

If you forked my repo, can you share it to me? So that I can check and fix your sample.

[2016-02-18 00:12] juliooa commented on #74
hi! @henrytao-me, thanks for the quick response, yes I upload the sample here:
https://github.com/juliooa/smooth-app-bar-layout/tree/feature/custom-view-header

[2016-02-18 01:24] henrytao-me commented on #74
Hi @juliooa

Please add me as a collaborator to your repo. I fixed your spacing issue and wanna send PR for you to review.

Thanks,
Henry

[2016-02-18 01:27] juliooa commented on #74
hi @henrytao-me, great! done

[2016-02-18 01:36] henrytao-me commented on #74
Cool. Please check out my diffs here. https://github.com/juliooa/smooth-app-bar-layout/pull/1/files

[2016-02-18 01:36] henrytao-me commented on #74
How's about you @lishiyo? You can check out @juliooa code and take a look too.

[2016-02-18 02:03] juliooa commented on #74
you are the man @henrytao-me , works like a charm, and smooth as silk. I see how you fix it, thanks man.

I noticed something, If I scroll a recyclerview to a point where half of the custom view is seen, then swipe to another tab, and move the scroll in this new tab there is a jump on the scroll. Anyway I think this is for other issue.

[2016-02-18 02:37] lulumeya opened #76 "collapsingtoolbar with viewpager"
Thank you very much guys you saved my day.

I have questions

I want to implement ui like "scroll exituntilcollapse" but I want to use viewpager instead of recyclerview, How can I achieve that?

and another, in the sample, viewpager exituntilcollapse, when I move to second tab dog which has recyclerview instead of nestedscrollview, scrolling behavior looks like to have snap attribute. How can I av

[2016-02-18 02:43] henrytao-me commented on #76
Hi @lulumeya

I guess you want to have Parallax ViewPager example. Please check out this forked branch (check diff). https://github.com/juliooa/smooth-app-bar-layout/tree/feature/custom-view-header

I will update this example in my repo later.

About snap issue, can you record a video to illustrate the issue?

[2016-02-18 03:02] lulumeya commented on #76
I'll check the fork you send me, Thank you very much.

the issue I sad is my mistake, sorry.

2016년 2월 18일 (목) 오전 11:43, Henry Tao notifications@github.com님이 작성:

[2016-02-18 04:52] lulumeya commented on #76
Henry, Help me again please.

I like to use layout of this
https://github.com/henrytao-me/smooth-app-bar-layout#smoothcollapsingtoolbarlayout-example

I could change recyclerview to viewpager in this sample, but I can add
TabLayout to SmoothAppBarLayout because SmoothAppBarLayout ignores
TabLayout in it.

When I change SmoothAppBarLayout's height to wrap_content, it behave weird.
Is there any quic

[2016-02-18 05:05] henrytao-me commented on #76
Give me an hour. I will get back after lunch. ;)

[2016-02-18 06:15] lishiyo commented on #74
Thanks for the sample @juliooa and @henrytao-me :D I went with a separate approach because I do not know what the header's height will be within the xml, so I can't set `200dp` for example. Instead I created a viewholder subclass that would force the header viewholder to a certain height:

[code]

Mostly works, except when in the halfway down the header and then swiping to another tab the header w

[2016-02-18 06:25] henrytao-me commented on #76
Hi @lulumeya

Please remember to set `minHeight` for `SmoothAppBarLayout` when using ViewPager. Check out some importance notes here https://github.com/henrytao-me/smooth-app-bar-layout/wiki

[2016-02-18 06:36] juliooa opened #77 "Changing tabs make the offset jump"
Hi Henry! me again, sorry I have another problem, I was trying to figure it out how to solved but I'm not making too much progress.

Is the same code from this fork:
https://github.com/juliooa/smooth-app-bar-layout/tree/feature/custom-view-header

Here is a video of the problem:
https://www.youtube.com/watch?v=w2UFKPpLAoE&feature=youtu.be

The problem just happened when the header is not totally c

[2016-02-18 06:40] lulumeya commented on #76
Yes I set minHeight for SmoothAppBarLayout.

The ViewPager is not problem, I want to add TabLayout for
SmoothAppBarLayout which has CollapsingToolBarLayout which has
SmoothCollapsingToolBarLayout...

<CoordinatorLayout>
   <ViewPager/>
   <SmoothAppBarLayout>
      <CollapsingToolBarLayout>
         <SmoothCollapsingToolBarLayout>
            ...some views
         </SmoothCollapsingToolBarLayout>

[2016-02-18 07:39] sathi-007 opened #78 "Viewpager with fragments each have CollapsingToolbarLayout"
hi henry,
Really great work. I have a viewpager with five fragments and each fragment have collapsingtoolbarlayout and recyclerview. when i go to bottom and come back to the top of fragment, header content is not visible.
Please help me with this problem.

please find attached screenshots for better idea.

![screenshot_2016-02-18-13-03-39](https://cloud.githubusercontent.com/assets/3540480/1313654

[2016-02-18 08:00] henrytao-me commented on #78
Can you post your layout and Java file here?

[2016-02-18 08:08] sathi-007 commented on #78
[code]

[2016-02-18 08:18] henrytao-me commented on #78
Look weird. Can you post this layout too? `<include layout="@layout/view_progress" />`

If it's possible, would you mind to share your repo to me. So that I can take a look easier.

[2016-02-18 08:20] sathi-007 commented on #78
[code]

[2016-02-18 08:20] sathi-007 commented on #78
sorry henry, i dont have a repository.

[2016-02-18 08:37] henrytao-me commented on #78
Can you share your activity / fragment which implements `CoordinatorLayout` and `RecyclerView adapter`?

[2016-02-18 10:28] sathi-007 commented on #78
hi henry, thanks for taking interest. I solved my issue. Actually the problem was in recyclerview adapter, which transform text to spannable while scrolling. i ignored the conversion and it is fine now.

Thanks anyway.. +1

[2016-02-18 10:28] #78 closed, assigned to nobody

[2016-02-18 22:15] henrytao-me commented on #77
Hi @juliooa

It's not an issue. It's a trade off. It's tricky to maintain the correct offset on each ViewPager Tab when switching between them. I would say it's not too bad for now.

However, if you want to improve it, you totally can investigate but it has complex use cases. Check out here:

`PagerWithHeaderFragment.java`

[code]

Every time you call on current tab, `onOffsetChanged` will be call

[2016-02-18 22:16] henrytao-me commented on #74
Hi @lishiyo

It's sound good. Let me know if you need more help.

[2016-02-18 22:16] #74 closed, assigned to nobody

[2016-02-18 22:20] henrytao-me commented on #76
Hi @lulumeya

`SmoothCollapsingToolBarLayout` worked in previous version (0.x). It needs to improve a bit in order to work with v1.x. Please don't use it for now. Here is the improvement's request https://github.com/henrytao-me/smooth-app-bar-layout/issues/26

I will send you an example about ViewPager + CollapsingToolbarLayout + Parallax shortly.

Cheers,
Henry

[2016-02-18 22:50] henrytao-me commented on #76
Yo @lulumeya

Check out ViewPager Parallax example here.
[activity_smooth_view_pager_parallax_exit_util_collapsed.xml](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample%2Fsrc%2Fmain%2Fres%2Flayout%2Factivity_smooth_view_pager_parallax_exit_util_collapsed.xml) and [SmoothViewPagerParallaxExitUntilCollapsedActivity.java](https://github.com/henrytao-me/smooth-app-bar-layout/blob

[2016-02-19 12:47] lulumeya commented on #76
Oh great Thanks! I ll check it!

On Fri, Feb 19, 2016, 07:50 Henry Tao notifications@github.com wrote:

[2016-02-19 22:43] henrytao-me opened #80 "Scroll issue when integrate with FoldableLayout"
https://github.com/worldline/FoldableLayout

[2016-02-19 23:18] juliooa commented on #77
Hi @henrytao-me, I understand, a trade off. I see the complexity about the use cases and also in your code to manage that complexity, thanks man, you can close this issue.

[2016-02-19 23:18] #77 closed, assigned to nobody

[2016-02-20 09:47] henrytao-me commented on #80
Fixed by calling `notifyItemChanged` during folding and unfolding.

[2016-02-20 09:47] #80 closed, assigned to nobody

[2016-02-20 10:50] henrytao-me commented on #76
I will close this issue. Let me know if you need more help @lulumeya

[2016-02-20 10:50] #76 closed, assigned to nobody

[2016-02-21 20:05] lishiyo opened #81 "Different expand/collapse scroll behaviors than normal AppBarLayout"
Hi @henrytao-me, I was wondering if you could help me figure this out - I have a fairly complicated layout that `exitsUntilCollapsed` to the tabs indicators (the thin 2dp strip beneath the `TabLayout`) as you scroll down, then `enterAlwaysCollapsed` with the full tabs bar as you scroll up (if you are not yet at the top, which will expand the full app bar with the header and tabs, etc).

With the e

[2016-02-22 00:50] lishiyo commented on #81
Actually, never mind - I found another way of resolving my issue. Thanks!

[2016-02-22 00:50] #81 closed, assigned to nobody

[2016-02-22 04:16] lulumeya commented on #76
Yes, Thank you for helping me.

2016년 2월 20일 (토) 오후 5:51, Henry Tao notifications@github.com님이 작성:

[2016-02-23 09:17] kvart714 opened #82 "How to use it with SwipeRefreshLayout?"
Thanks, it solved all my problems with scrolling, CollapsingToolbarLayout and ViewPager!

But there is a new problem and I do not know how to solve it:

I have to put  header in the NestedScrollView, but NestedScrollView is inside SwipeRefreshLayout and it is not visible because it is covered under AppBar.

If I put header before SwipeRefreshLayout, then NestedScrollView is scroll simultaneously w

[2016-02-23 09:33] henrytao-me commented on #82
Can you post your layout here?

[2016-02-23 09:39] henrytao-me commented on #82
I got what you mean. You need to define these methods `getActionBarSize()` and `getHeaderHeight()`, then use below code:

[code]

[2016-02-23 09:54] kvart714 commented on #82
Thank you, it works :)

[2016-02-23 11:48] henrytao-me commented on #82
Sweet. Happy coding!

[2016-02-23 11:48] #82 closed, assigned to nobody

[2016-02-26 10:09] lordone24 opened #83 "please help"
•Remember to set  android:minHeight  for  me.henrytao.smoothappbarlayout.SmoothAppBarLayout  in layout file if you use  ViewPager .

I did like below, but it din't work. what does it mean? please help......

android:minHeight="smoothappbarlayout.SmoothAppBarLayout"

[2016-02-28 11:53] llpj commented on #63
Thanks! This look fixed. Where can I see the related change ?
It does not seem to work for me when I use my own style.

[2016-02-28 13:06] henrytao-me commented on #63
It fixed due to hug refactor. I don't think I can show you the change. ;)

[2016-02-28 16:06] llpj commented on #63
Well,  thank you very much. I will find out anyway, sooner or later . ; )

[2016-02-28 22:16] #63 closed, assigned to nobody

[2016-02-28 22:18] henrytao-me commented on #83
Can you post your layout here?

This is what I mean https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample%2Fsrc%2Fmain%2Fres%2Flayout%2Factivity_smooth_view_pager.xml#L31

[2016-02-29 02:12] lordone24 commented on #83
Thank you for reply.

Here is my source of Appbarlayout.
It doesn't work SmoothAppBarLayout with  viewpager.
(view pager source is next comment)

[code]

[2016-02-29 02:14] lordone24 commented on #83
[code]

[2016-02-29 02:34] henrytao-me commented on #83
Hi @lordone24

You can take a look at my examples in sample module. Below is my proposal changes. There are few notes here:
- `ViewPager` should be declared before `SmoothAppBarLayout`.
- You can use actionBarSize for TabLayout. However, according to Google Material Specs, it should be a bit smaller which is secondaryActionBarSize (check my sample module to see its values).

If below code doesn't

[2016-02-29 07:34] lordone24 commented on #83
It also doesn't work.  (ViewPager be declared before  SmoothAppBarLayout)
and try minheight=48dp (your secondaryActionBarSize) but no changes.
The problem is CollapsingToolbarLayout dosen't move. it is fixed when use SmoothAppBarLayout.
(scrolling of contents in viewpager well, tab movement well)

Although I saw not only your source module but downloading entired zip file, I can not resolve.
It wo

[2016-02-29 07:46] henrytao-me commented on #83
Hi @lordone24

You can post the video to youtube and share me a link. It's interesting to know what the issue. Also, please provide more information about your project:
- version of AppCompat
- version of SmoothAppBarLayout

[2016-02-29 09:07] lordone24 commented on #83
Hi @henrytao-me

I uploaded vedio at Youtube. Additionally, I found viewpager scrolling is also have problem in the SmoothAppBarLayout.

Please check below link.
. Appcompat-v7:23.1.1
. version of SmoothAppBarLayout : tried both 0.2.3 and 0.2.2

https://youtu.be/ejKi1wg4OPI
https://youtu.be/z5A40N32Kd0

[2016-02-29 09:16] henrytao-me commented on #83
Hi @lordone24,

I see what you want to do. It should work. Please try latest version of SmoothAppBarLayout which is `1.0.4`.

Cheers,
Henry

[2016-02-29 10:13] lordone24 commented on #83
Hi @henrytao-me

Scrolling is good at ver1.0.4. thank you so much.
However There are some problems too.
1. It should not be up&down in the viewpager until end of SmoothAppBarLayout movement, but viewpager scrolling also move at first touch.
2. In my third tab, I don't know why toolbar diasappear when scroll-up.

pleaer check below linked video.
https://youtu.be/bMV0Q_ixDBE

[2016-02-29 12:42] henrytao-me commented on #83
Hi @lordone24,

It's by design. There is a trade off. You can only choose one of below cases:

**Case 1 (current implementation):** Keep scrolling offset for each tab. This mean if you are in TabA, scroll to xA position. Then, you switch to TabB, scroll to xB position. Then, you switch back to TabA, it will keep xA position instead of scrolling to the top of A. It's only reset scrolling of TabA to

[2016-03-01 13:53] lordone24 commented on #83
Hi @henrytao-me

First of all, I'm not good at English. So sorry about it.
Tab to Tab movement is not a problem.

I wonder why  ViewPager  should be declared before  SmoothAppBarLayout.
In my original code, In case of Viewpager be declared after AppbarLayout, there is any problem except smooth scrolling CollapsingToolbarLayout. so I try to use your code......

However, If  ViewPager  be declared b

[2016-03-01 14:01] henrytao-me commented on #83
Hi @lordone24

Overlapping is acceptable and by design. With SmoothAppBarLayout you have to declare header view (either Header ViewHolder for RecyclerView or Header Spacing for NestedScrollView) in order to make it work perfectly.

It's the best option if you can share your repo with me and tell me what you want to achieve. I am willing to fix it for you.

Cheers,
Henry

[2016-03-02 16:33] 3mph4515 opened #84 "RecyclerView & Padding"
I saw in your description that padding wont work in recyclerview. I've implemented your lib, and I have my list view under the appbar layout. I strive to fix this, but for now I have no ideas, please suggest.

Is there any option to add padding to recyclerview?
Here is my layout http://pastebin.com/gaDr8wZd

[2016-03-03 11:13] 3mph4515 commented on #84
Padding to recycler view can be added simply with adding spacing header view to your recycler view.

[2016-03-03 11:13] #84 closed, assigned to nobody

[2016-03-13 08:27] henrytao-me commented on #83
Hi @lordone24

How's the issue? Can you close this issue if it works for you?

[2016-03-13 08:28] henrytao-me opened #85 "[Bug] AppBarLayout stays on the top when delete item in RecyclerView"

[2016-03-13 08:33] #85 closed, assigned to nobody

[2016-03-13 23:41] lordone24 commented on #83
Hi @henrytao-me

No... Still It's not working. I think this is not a simple issue so proceeded other tasks.
I will ask you when the process again. Thank you very much for your attention.

[2016-03-14 01:34] henrytao-me commented on #83
Please keep me posted. We can do TeamViewer to investigate the issue. In the meantime, I will close this issue.

Cheers,
Henry

[2016-03-14 01:34] #83 closed, assigned to nobody

[2016-03-16 17:29] readbeard opened #87 "Collapse on small nested scroll view"
Hi,
i've made a lot of tries but i can't find out how to collapse the apptoolbar to its minimum height when the nested scroll view has an height that is less than the screen size

[code]

[2016-03-16 22:31] henrytao-me commented on #87
Hi @readbeard

Because SmoothAppBarLayout uses different approach compared to original AppBarLayout, so it's not support scrolling when NestedScrollView has the height that is smaller than screen height.

I do think about adding that feature and try to make it as transparent as possible but it hasn't implemented yet.

Best,
Henry

[2016-03-29 14:01] henrytao-me opened #90 "[Note] Can not change scrollTarget at runtime #89"

[2016-04-04 16:24] csababiro opened #91 "Toolbar buttons not clickable"
I created a toolbar with some imagebuttons, but click listener are not called for it.
Here is my xml: can you help please. Maybe I set something wrong.

[code]

[2016-04-04 16:27] csababiro commented on #91
Parent views for above files are android.support.design.widget.CoordinatorLayout and android.support.v4.widget.NestedScrollView. I don't know why they are not displayed correctly.

[2016-04-04 20:05] csababiro commented on #91
And I forgot the toolbar layout

[code]

[2016-04-05 11:50] henrytao-me commented on #91
Hi @csababiro

Let me run your example and get back to you soon.

[2016-04-06 09:45] henrytao-me commented on #91
Hmmmmmmm. @csababiro, why don't you use menu for edit and remove button?

[2016-04-06 09:55] csababiro commented on #91
I must use buttons. I cannot modify the design just for one screen from the app.

[2016-04-06 22:13] Meeks91 opened #92 "After removing ' app:layout_behavior="@string/appbar_scrolling_view_behavior" ' the RecyclerView now covers the whole screen including the SmoothAppBarLayout"
I implemented the SmoothAppBarLayout  and removed  ' app:layout_behavior="@string/appbar_scrolling_view_behavior" '  from the XML layout, but now, the RecyclerView's contents covers the whole screen.

Here is a basic model of my XML:

[code]

I've also implemented the CircularReveal library and the FABRevealLayout library.

If you need any screenshots of the app I can provide them.

I would apprec

[2016-04-06 22:27] henrytao-me commented on #92
Hi @Meeks91

It's the best if you can send some screenshots. However, in `SmoothAppBarLayout`, fullscreen RecyclerView and using HeaderView is by design. It's different with default `AppBarLayout` but smoother.

[2016-04-06 23:08] Meeks91 commented on #92
Thanks for the response, I implemented a HeaderView in the RecyclerView, and that has revealed the content that was getting covered by the other items in the RecyclerView.

Here is a screenshot of how it looked before I implemented the HeaderView: https://drive.google.com/open?id=0B1m-1yjQvAQ3VVRnbzVCck9BZWNwdEdEMmoxR3NtZkxFOXNB

But since I added the HeaderView there seems to be a glitch in the s

[2016-04-06 23:08] Meeks91 commented on #92
Thanks for the response, I implemented a HeaderView in the RecyclerView, and that has revealed the content that was getting covered by the other items in the RecyclerView.

Here is a screenshot of how it looked before I implemented the HeaderView: https://drive.google.com/open?id=0B1m-1yjQvAQ3VVRnbzVCck9BZWNwdEdEMmoxR3NtZkxFOXNB

But when I added the HeaderView there seems to be a glitch in the sc

[2016-04-07 13:37] henrytao-me commented on #92
Your layout looks complicated. I can not guess what is the expected result. Would you like to gave me access to your repo somehow? It's easier for me to check in real code. Thanks.

[2016-04-10 09:57] FelisManulus opened #93 "Choppy SmoothAppBar behavior when switching between tabs and swiping up or down"
Greetings.
I've noticed an issue when switching between fragments in 'ViewPager Parallax demo' and swiping up or down the scrollable area a bit. The issue persists in my project too.

How it should be (first switch between tabs is ok): https://youtu.be/rsyk0Gwu4Gs
How it is now (second etc. switches): https://youtu.be/jSVCQzXvO4Y

P. S. It would be also great to add expanding animation to SmoothAp

[2016-04-11 05:46] henrytao-me commented on #92
Are there any updates @Meeks91 ?

[2016-04-11 05:52] henrytao-me commented on #93
Hi @FelisManulus

Thanks for your report. This is known-issue and I am improving it. If you think SmoothAppBarLayout is better than AppBarLayout in your use-case, please don't hesitate to give it a try.

Thanks,
Henry

[2016-04-11 09:52] mboudraa commented on #91
I actually have the same problem. Everything under the appBarLayout is not clickable except when the toolbar is in actionbar position.

[2016-04-15 20:34] borgwald commented on #60
Hello Henry,

did you have any Updates on this?

[2016-04-15 23:01] borgwald opened #94 "Broken scrolling of Smoothappbarlayout with newest Library"
Hello Henry,

i have updated the Design-Library to version 23.2.1. With newest DesignLibrary and older Version of your Library i had no Problems. But after updating to your newest Library, scrolling of Smoothappbarlayout is broken.

My Layout:

[code]

Problem:

The first FrameLayout is a container for a Fragment with Recyclerview. The Recyclerview has a Header with the height of 2*toolbar height

[2016-04-16 00:38] henrytao-me commented on #94
Hi @borgwald

I am checking it now.

[2016-04-16 00:47] henrytao-me commented on #94
Hi @borgwald

Using 2 Toolbar looks weird to me. Can you post a video or screenshot about what your expectation? So that I can give a proper design.

Thanks,
Henry

[2016-04-16 02:51] henrytao-me commented on #60
Hi @borgwald

Please upgrade to 23.2.1.2 and check `PreScroll` example. Note: Use [Utils.initPreScroll](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/smooth-app-bar-layout%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayout%2Fbase%2FUtils.java#L51)

[2016-04-16 02:51] #60 closed, assigned to nobody

[2016-04-16 02:52] henrytao-me commented on #91
Sorry for my late response. I am checking it now.

[2016-04-16 07:30] henrytao-me commented on #91
Hi @csababiro and @mboudraa

Please check out this branch. I tested custom button in Toolbar and it works normally.

https://github.com/henrytao-me/smooth-app-bar-layout/commit/fab3187421e81e5e2d87d25a8e6d9518a92b875c

[2016-04-16 10:39] borgwald commented on #94
Hello Henry,

it's not an issue with two toolbars. I have tested it with a TabLayout and only one Toolbar also. The TabLayout also scrolls off the screen. Reverting back to older Library everything works as expected.

[2016-04-16 11:08] borgwald commented on #94
This is with new Library. As you can see the TabLayout scrolls off the screen:

![ezgif-593512791](https://cloud.githubusercontent.com/assets/2222317/14580634/f43df596-03d3-11e6-8844-569f64115658.gif)

And the following is with older Library. The TabLayout scrolls as expected. No changes in Code. Only changed to older Library:

![ezgif-3394553392](https://cloud.githubusercontent.com/assets/2222317

[2016-04-16 13:03] henrytao-me commented on #94
Hi @borgwald

If you want to implement that type of AppBarLayout, I prefer to use original AppBarLayout implementation which you can find in my sample app too. Because with original AppBarLayout, there are no need for you to setup HeaderView for each tab fragment.

If you want to do more fancy animation like: exitUntilCollapse and quickReturn for ViewPager, then try SmoothAppBarLayout.

I hope it

[2016-04-16 13:22] borgwald commented on #94
its only an example. i have these problems even if i dont't use a viewpager and tablayout as mentioned. Normal behavior is that only the toolbar should scroll off. The question is why does it work with an older Library of Smoothappbar and not with the newest one...

i am not sure if you understand what i mean..

[2016-04-16 13:28] FabianShallari opened #96 "StackOverFlowError"
Hi @henrytao-me . When using SmoothAppBarLayout with ViewPager I'm getting this issue:
`java.lang.StackOverflowError
    at android.support.design.widget.AppBarLayout$Behavior.onMeasureChild(AppBarLayout.java:652)
    at me.henrytao.smoothappbarlayout.BaseBehavior.onMeasureChild(BaseBehavior.java:80)
    at android.support.design.widget.AppBarLayout$Behavior.onMeasureChild(AppBarLayout.java:652)

[2016-04-16 13:29] FabianShallari commented on #96
Also the ViewPager Quick Return on the sample app crashes when building and compiling from master

[2016-04-16 13:40] borgwald commented on #94
for better understanding

this is an example with your old Library and without Viewpager:

![ezgif-950987267](https://cloud.githubusercontent.com/assets/2222317/14581289/6786cc98-03e9-11e6-9923-be7f5636a16e.gif)

the searchtoolbar stays on top. This is expected behavior.

But with your newest Library the searchtoolbar scrolls out of the screen.

I would like to use your newest Version because of U

[2016-04-16 16:08] FabianShallari commented on #96
the stackoverflow error seems to happen only with supportLib 23.3.0.

[2016-04-18 17:23] kjw1801 commented on #96
I also same issues.

I think it seems that is not supported version.

compile 'com.android.support:appcompat-v7:23.3.0'
compile 'com.android.support:design:23.3.0'

[2016-04-21 12:37] henrytao-me commented on #96
Let me try

[2016-04-21 13:45] henrytao-me commented on #96
Hi @FabianShallari and @kjw1801

Can you provide more context when it's crashed. Ex: device name, version...

I just tested on v23.3.0 and master build. It works normally.

Thanks,
Henry

[2016-04-21 13:51] henrytao-me commented on #94
Hi @borgwald

What the old version number are you using (the one works normally)? Utils.initPreScroll is a static method. You probably can copy to your project unless there is a big different between old working version and new broken version (due to refactor and improvement).

[2016-04-21 13:51] #93 closed, assigned to nobody

[2016-04-21 19:13] FelisManulus commented on #93
Greetings, the issue still exists in 'ViewPager Parallax demo' (new versrion 21.04.16) on my device.
Maybe there's another demo where it is fixed?
I have to use another library now but I'd rather use yours in case it gets fixed.
Thanks.

[2016-04-22 10:49] showang opened #98 "Sometimes get max offset when scrolling to top."
onCreateItemViewHolder: 0
onOffsetChanged: 0
onOffsetChanged: 0
onOffsetChanged: 0
onOffsetChanged: 0
onOffsetChanged: 168
onOffsetChanged: 168
onOffsetChanged: 101
onOffsetChanged: 101
onOffsetChanged: 41
onOffsetChanged: 41
onOffsetChanged: 0
onOffsetChanged: 0
onOffsetChanged: 0

This masks toolbar disappear for a while.

compile "me.henrytao:smooth-app-bar-layout:23.3.0"
compile 'com.android.s

[2016-04-22 11:03] ashmosaheb opened #99 "Support gravity for expanded and collapsed custom title text like Design library"
A future enhancement possibly.
Is there a way you can support gravity for expanded and collapsed custom title text as opposed to setting the X and Y offsets respectively.

I am using my own title text (as I want to fade in the text when the activity starts). Expanded and by default the text is centred within the expanded actionbarlayout. For collapsing, I want the text to move to the left (like al

[2016-04-22 19:16] abhinav272 opened #100 "Can it go with v22"
I have a limitation to not go above v22.
I need to implement the collpasing toolbar that appears (smoothly) when user flings the recyclerview.
Can you help...???

[2016-04-23 00:48] henrytao-me commented on #100
I am sorry @abhinav272
There are huge APIs changed in v23 that are not backward compatible with v22.

I did have some releases for v22.x. You can try `1.0.5`. See full list here. https://bintray.com/henrytao-me/maven/smooth-app-bar-layout/view

Let me know if it helps.

[2016-04-23 00:56] henrytao-me commented on #99
Hi @ashmosaheb

I think your case is special. I haven't seen any design like that (2 anchors). I think the best way is picking either center or top left as an anchor for animation.

I will think more about supporting that kind of animation, try to make it as simple as possible. In the mean time, I think you can write an utility method to reuse in may activities, can't you?

Cheers,
Henry

[2016-04-23 00:57] henrytao-me commented on #98
Hi @showang

Can you provide more context of your example? Ex: appcompat version, smoothappbarlayout version, what type of appbar are you using, what device are you testing...

Thanks,
Henry

[2016-04-23 00:58] henrytao-me commented on #96
Any updates on your sides?

[2016-04-23 01:48] FabianShallari commented on #96
Will try to rebuild master in a few days and notify you again. Thanks for the commitment!

[2016-04-23 07:45] abhinav272 commented on #100
Thanks for prompt reply...!!
I already tried using 1.0.5v but the BaseBehavior class is using DragCallback object which is basically a subclass of AppBarLayout.Behavior v23.1.1

So no Luck :(

[2016-04-23 07:46] henrytao-me commented on #100
Then, please try other older versions.

[2016-04-23 10:37] ashmosaheb commented on #99
Hi Henry,

Many thanks for your response. I am not sure if it's a special case. Effectively all I want is the the title to be centred both horizontally and vertically within the the CollapsingToolbarLayout when expanded. And then left aligned when collapsed.

The CollapsingToolbarLayout layout already supports gravity for it's own text title as in:

`app:expandedTitleGravity="top|center_horizontal

[2016-04-23 10:39] borgwald commented on #94
Hello Henry,

i am using version 0.2.3. unfortunately the newer versions have major changes in syncOffset Method. i.e.
newer versions use syncOffset(appbarlayout, newOffset) which is not included in the old version that works for me.

[2016-04-24 01:03] kjw1801 commented on #96
I am currently using without any problems. Thank you.

[2016-04-24 05:25] henrytao-me commented on #96
Thanks @kjw1801

[2016-04-25 02:35] showang commented on #98
This bug is fixed when i change to ver 23.2.1.

[2016-04-25 03:10] showang commented on #98
After i test many times, this bug was occurred when recyclerview scroll to position 0. (most frequency)
But not be occurred every times.

[2016-04-25 03:45] showang commented on #98
Another question, how to work with swipe-to-refresh-layout?

[2016-04-25 04:02] henrytao-me commented on #98
Hi @showang

Please check SwipeRefreshLayout example here. https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample%2Fsrc%2Fmain%2Fjava%2Fme%2Fhenrytao%2Fsmoothappbarlayoutdemo%2Factivity%2FSmoothSwipeRefreshLayoutActivity.java

Regard to your issue, can you send me your layout file and screenshots?

[2016-04-27 15:23] MrLepage commented on #91
I have the same problem too. All the child of SmoothAppBarLayout are not clickable.

For example, navigation icon is only clickable when toolbar is collapsed.

[2016-04-27 15:35] henrytao-me commented on #91
Hi @UNCVR

Can you show me your layout?

[2016-04-27 15:59] MrLepage commented on #91
Thanks for your quick answer but I just figured out the problem.

My content layout (NestedScrollView) was below the SmoothAppBarLayout in the view hierarchy preventing clicks on the toolbar.

@csababiro + @mboudraa be sure to place your content layout above the SmoothAppBarLayout :)

[2016-04-29 14:22] henrytao-me commented on #91
Thanks @UNCVR

Love it.

[2016-04-29 14:22] #91 closed, assigned to nobody

[2016-04-29 16:49] mchun opened #101 "minSdkVersion is 11?"
Thanks for the great library, but I encountered the following error when compiling...

Error:Execution failed for task ':app:processDebugManifest'.

Is it save to override and use it in android 2.3?

[2016-04-29 21:42] henrytao-me commented on #101
Hi @mchun

MinSdkVersion for SmoothAppBarLayout is 11. Look like there is no issue with version 9 but you have to test it out. I thought version 11 is standard min sdk for now. No?

Cheers,
Henry

[2016-04-30 12:01] #101 closed, assigned to nobody

[2016-05-01 08:02] amirlatifi opened #102 "SmoothAvatarActivity has no Avatar"
I was looking for SmoothAvatarActivity. I've got your code. I added SmoothAvatarActivity to MainActivity and I run it, it has no avatar. Have you tested it with avatar. Should I try to add avatar image to it?

Thanks for great stuff you've done. 👍

[2016-05-01 08:10] henrytao-me commented on #102
Hi @amirlatifi

SmoothAvatar sample existed in some previous version. However, there is some performance issue (not quite big). I plan to work on an upgrade but still don't have time yet. You can refer to the issue here. https://github.com/henrytao-me/smooth-app-bar-layout/issues/26

I will let you know when it's ready. Tell me how urgent it is on your side.

Cheers,
Henry

[2016-05-05 12:32] mchun commented on #101
Well... millions of toxic e-waste are created every year due to planned-obsolescence by the big cooperations.
I just try to be a responsible developer and support as old as I can.

[2016-05-05 13:03] henrytao-me commented on #101
Which version of SmoothAppBarLayout are you using?

[2016-05-09 04:23] huyn opened #104 "ToolBar expands while fragment is too short in viewpager"
When I ran SmoothViewPagerActivity in sample project，I found that when I swiped to a short fragment（the MOUSE or BIRD tab）,Toolbar expected to be collapsed expanded. I supposed it to be a bug.
please check it.
thanks for the stuff you have contributed!

[2016-05-12 06:10] sudansh commented on #96
This issue is still not fixed. This persists even in 23.4.0

[2016-05-12 14:15] henrytao-me commented on #96
Hi @sudansh

How did you setup ViewPager? I am using 23.3.0. It's okie. Weird?

[2016-05-14 18:01] pablo-oses commented on #54
Is adding a comment here how I can Re-Open this ?
I'm having this same issue appearing after migrating from AppBarLayout to SmoothAppBarLayout.

I need to have a clickable ImageView inside a CollapsingToolbarLayout inside the SmoothAppBarLayout.
And as long as the ImageView has a ClickListener the scrolling doesn't work starting the scroll on that view.

It's critical in my case as the ImageView i

[2016-05-15 02:32] pablo-oses opened #105 "I cannot initiate a scroll from a clickable view inside SmoothAppBarLayout"
I understand this was already reported as issue #54. I'm creating a new issue as that one was closed.

I need to have a clickable ImageView inside a CollapsingToolbarLayout inside the SmoothAppBarLayout.
And as long as the ImageView has a ClickListener the scrolling doesn't work starting the scroll on that view.

It's critical in my case as the ImageView is as big as the entire CollapsingToolbarLa

[2016-05-15 11:35] steffandroid commented on #96
I'm also getting this issue, on a Moto X (2014) running Android 6.0, using support library version 23.4.0.

The problem is not present if I revert the support library to 23.1.1.

[2016-05-15 11:51] henrytao-me commented on #105
Let me try it again. What SmoothAppBar version are you using?

[2016-05-15 12:24] henrytao-me commented on #96
I see. Working on it now.

[2016-05-15 12:36] steffandroid commented on #96
Ah, sorry, I've just realised I was compiling an old version of this library. It actually seems fine on the latest version.

[2016-05-15 12:45] henrytao-me commented on #96
Sweet. :D Thanks for your confirmation. I am also checking the code to see if there are any issues.

[2016-05-15 13:45] henrytao-me commented on #105
Hi @pablo-oses

Can you change the order in your layout, then see how it works?

[code]

[2016-05-15 15:31] pablo-oses commented on #105
In my app I'm using 23.1.0 for both the appcompat and smooth-app-bar-layout
The layout structure that I mentioned was before implementing SmoothAppBarLayout.
In the current one I have NestedScrollView first (with a top padding) and SmoothAppBarLayout later.

Instead of trying to fix this in my app with all it's complexities I'm trying to confirm that a possible fix is doable in the samples app as

[2016-05-15 19:12] pablo-oses commented on #105
In the sample GsdScrollExitUntilCollapsedActivity the clickable view inside CollapsingToolbarLayout inside AppBarLayout receives the onTouch(ACTION_CANCEL) event after a few onTouch(ACTION_MOVE) events. And in the sample SmoothScrollExitUntilCollapsedActivity it doesn't.

So to try to understand why it's not working I started to research exactly how is it working fine on the GsdScrollExitUntilColl

[2016-05-15 20:53] henrytao-me commented on #105
Hi @pablo-oses

What AppCompat version are you using? The latest version of SmoothAppBarLayout is `23.3.0`. Please check if it works for you.

Cheers,
Henry

[2016-05-15 21:48] pablo-oses commented on #105
I upgraded to `23.4.0` on the sample/build.gradle file and it's still not scrolling from a clickable view inside the SmoothAppBarLayout.   (the touch events never get intercepted and captured by it's parent views)

[2016-05-16 04:09] henrytao-me commented on #105
Just want to let you know that I am looking into this issue. It's a common problem with custom view, ViewGroup and View... Somehow, original AppBarLayout works. Investigating...

[2016-05-16 05:27] Ashok-Varma commented on #92
@henrytao-me Even i am facing same issue. If i remove scrolling behaviour. The appbar is overlapped with scrollView content.

Here is my layout.

[code]

[2016-05-16 08:21] dkshin commented on #96
@henrytao-me

1.
compile 'com.android.support:appcompat-v7:23.1.1'
compile 'com.android.support:design:23.1.1'
-> working

2.
only compile 'com.android.support:appcompat-v7:23.3.0'
-> working

3.
only compile 'com.android.support:appcompat-v7:23.4.0'
-> working

4.
compile 'com.android.support:appcompat-v7:23.3.0'
compile 'com.android.support:design:23.3.0'
->  same issues

5.
compile 'com.android

[2016-05-16 09:14] Ashok-Varma opened #106 "Scroll On CollapsibleToolbar is not working"
when there is a viewPager in collapsibletoolbar the scroll is not working. The viewPager is not allowing vertical scroll. I also tried this (https://bitbucket.org/NxAlex/swipes-navigation-demo/src/4db50c3253637185f9b3610fff6f1a9401fd25eb/sample/SwipeNavigationDemo/src/com/visionapps/demo/swipe/view/SmartViewPager.java?at=master&fileviewer=file-view-default), inorder to dispatch touch event on vert

[2016-05-16 11:43] pablo-oses commented on #105
Thanks !... I hope all the debugging findings that I wrote helps.
Let me know if you can't reproduce in the samples app anything that I described or if I can help trying out possible ideas

[2016-05-16 13:45] henrytao-me commented on #106
Hi @Ashok-Varma

That's a strange implementation though. You put ViewPager inside CollapsingToolbarLayout. Hmmmmmm? What do you want to achieve then?

[2016-05-16 13:50] henrytao-me commented on #96
@dkshin

Can you send me your full grade file?

[2016-05-16 15:02] Ashok-Varma commented on #106
@henrytao-me
We can have list of images in CollapsingToolbarLayout in a viewPager, which auto-scrolls. This is one of use cases which i need.
There are many apps with such implementations like AirBnb and many other popular apps, even playstore itself has this implementation on homeScreen.

How can we achieve this with this library. I can see that all clickable views are blocking the scroll. But an

[2016-05-16 15:37] henrytao-me commented on #106
Interesting. I am looking into it.

[2016-05-17 00:54] dkshin commented on #96
@henrytao-me

Check your email(hi@henrytao.me)! :-)

[2016-05-17 05:32] Ashok-Varma commented on #106
@henrytao-me Any Updates ??

[2016-05-23 04:44] henrytao-me commented on #106
I am just back from I/O and will ping you when I have some updates. Thanks for your attention.

[2016-05-23 04:44] henrytao-me commented on #105
I am just back from I/O and will ping you when I have some updates. Thanks for your attention.

[2016-05-25 05:33] Jeffphuang opened #108 "Quick Return toolbar pops down unexpectedly with changing view sizes in recycler view"
If flags enterAlways|enterAlwaysCollapsed (quick return) is enabled with a recycler view that has dynamic sizes for view holders, the toolbar will bounce back once scrolled past the collapsing toolbar.

Steps to Reproduce (Tested on LG Nexus 5X on Android 6.0.1):
1. Download Demo App
2. Launch the SmoothAppBarLayout QuickReturn Demo
3. Scroll until the recycler view holder Line 1 is aligned with t

[2016-05-25 19:31] drinkthestars opened #109 "NestedScrollView/CustomNestedScrollView whitespace issue with non-expanded toolbar on orientation change"
In the sample app, for both the `NestedScrollView` and the `CustomNestedScrollView` demos, while changing orientation (after having scrolled a little), the extra spacing thats placed in the `NestedScrollView`/`CustomNestedScrollView` appears to show up out from underneath the toolbar. The toolbar then jumps to the expanded state when you start to scroll.

Steps to repro:
1. In the `NestedScrollVie

[2016-05-25 22:32] nominalista opened #110 "Elevation on Toolbar"
Is it possible to add elevation to Toolbar, but only when it is collapsed? Of course, when it is expanded, I'd like to hide this elevation.

[2016-05-26 18:11] henrytao-me commented on #109
I thought I fixed it before. Let me look into it.

[2016-05-26 18:11] henrytao-me commented on #110
I think it's possible. I will send you a demo soon.

[2016-05-26 20:48] nominalista commented on #110
Thank you very much. I'm waiting for demo.

[2016-05-27 05:27] henrytao-me commented on #110
Hi @Nominalista
Please checkout this branch and try it. https://github.com/henrytao-me/smooth-app-bar-layout/tree/issue-110. I think it's a default implementation of Toolbar.

[2016-05-27 05:27] #110 closed, assigned to nobody

[2016-05-27 05:32] henrytao-me commented on #109
Hi @drinkthestars

It's happened because I haven't set `id` for `NestedScrollView`. Without `id`, android won't do `saveInstanceStates` on `orientationChanged`.

Please check my commit above.

Thanks,
Henry

[2016-05-27 05:32] #109 closed, assigned to nobody

[2016-05-27 05:34] henrytao-me commented on #108
Hi @Jeffhuang1

I tested it on my Nexus 5X. It doesn't happen. Can you take a video on your end?

Cheers,
Henry

[2016-05-27 05:36] henrytao-me commented on #105
I still haven't had perfect solution for this issue yet. This is tricky issue. I need to spend more time look into event dispatcher things...

[2016-05-27 05:57] Jeffphuang commented on #108
@henrytao-me Heres the video on my Nexus 5X
https://youtu.be/A4-wA3lJX_I

[2016-05-28 10:33] nominalista commented on #110
Why I can't see elevation in QuickReturn example ?

[2016-05-28 21:48] henrytao-me commented on #110
What device are you using? Elevation is only supported on API 21 and above

On Sat, May 28, 2016, 03:33 Nominalista notifications@github.com wrote:

[2016-05-28 21:58] nominalista commented on #110
Htc One M8 with API 23, I also can't see this on emulator with API 23.

<img width="298" alt="screen shot 2016-05-28 at 23 58 10" src="https://cloud.githubusercontent.com/assets/9215552/15630202/143235ce-2530-11e6-9024-7710adda5d68.png">

[2016-05-31 05:38] henrytao-me commented on #110
Hi @Nominalista

What APK is it?

[2016-05-31 05:39] henrytao-me commented on #110
Did you check out the branch I sent you and run the build?

[2016-05-31 05:43] henrytao-me commented on #110
I merged it to master. You can run again on master now.

[2016-05-31 05:43] henrytao-me commented on #108
I got it. Working on the fix tonight. Thanks.

[2016-05-31 18:33] nominalista commented on #110
Can you show me screenshot with elevation in QuickReturn example ? Cause still when I fetched master can't see elevation.

[2016-05-31 22:08] henrytao-me commented on #110
For QuickReturn example, the elevation is displayed under statusbar. Check out these screenshots below
https://drive.google.com/file/d/0B5HntpVe6CemZjRQYVg3U0hTWTQ/view?usp=sharing
https://drive.google.com/file/d/0B5HntpVe6CemSHctSEpZeks5cWc/view?usp=sharing

It seems like you want to have elevation showed when it returns. If so, I am not sure it's possible. Please confirm and I will look into it.

[2016-06-01 04:13] nominalista commented on #110
Yes, that's why I created issue, because I wasn't sure if it's possible too. Please look into it and thank you for your time spend on it.

[2016-06-05 16:32] aliakhak opened #113 "issue using the latest design library 23.4.0"
hi / it didn't worked with tha lates design library (23.4.0) for me /// any ideas?

[2016-06-05 20:09] suhaibroomy opened #114 "collapsing toolbar flickrs a bit when collapsed"
in collapsed position the collapsing toolbars becomes visible for a split second in expanded mode. i have made a video as well but youtube skips that frame i dont know why. will email you the video if you want. I really wanna use your library as support library sucks big time. Lemme know if you will be fixing it and if you need any help from my side

[2016-06-07 01:03] henrytao-me commented on #114
Can you post your layout here? Which version of SupportDesign and SmoothAppBarLayout are you using?

[2016-06-07 01:03] henrytao-me commented on #113
Checking

[2016-06-07 02:33] henrytao-me commented on #108
@Jeffhuang1 Please check latest build on master.

Thanks.

[2016-06-07 02:33] #108 closed, assigned to nobody

[2016-06-07 09:52] suhaibroomy commented on #114
[code]

</android.support.design.widget.CoordinatorLayout>

Recycler view is containted in the fragment_container. Header is added in that

[2016-06-07 18:49] suhaibroomy commented on #114
https://drive.google.com/file/d/0B181lwJ5g8kibEktQmhCbzM1Wjg/view?usp=sharing

take a look at this video. flickrs at 00:13

[2016-06-07 20:40] henrytao-me commented on #114
Which version of SupportDesign and SmoothAppBarLayout are you using?

[2016-06-07 23:41] suhaibroomy commented on #114
I am using 23.3.0 of smoothappbar. Tested it with 23.3.0 and 23.4.0 of design support. Same results on both.

[2016-06-08 02:18] henrytao-me commented on #114
Based on your implementation, do you think there are any differences between your code and the demo code? It's better if either I can have access to your repo or you can reproduce it on my sample repo in order to troubleshoot it.

[2016-06-08 06:49] siavashabdoli opened #116 "I don't have this attrs on my project! how solve the error"
i add me.henrytao.smoothappbarlayout.SmoothAppBarLayout to my layout but appbar does not scroll so i add me.henrytao.smoothappbarlayout.SmoothCollapsingToolbarLayout but android studio can't resolve this 2 attrs.
I have error for this two attrs value:
?attr/mdLayout_spacing_md
?attr/mdIcon_sm

this is my layout without me.henrytao.smoothappbarlayout.SmoothCollapsingToolbarLayout

[code]

[2016-06-08 07:27] suhaibroomy commented on #114
https://drive.google.com/file/d/0B181lwJ5g8kiemhIcGpXM1dYTEU/view?usp=sharing

This is video of demo code. I added fit systems window to your layout

[code]

[2016-06-08 09:38] bicos commented on #96
@dkshin, @henrytao-me I found that if CoordinatorLayout's child's param's height is WRAP_CONTENT, it makes stackoverflow error. so, instead of WRAP_CONTENT, I fixed SmoothAppBarLayout's height, stackoverflow error is gone. please check out AppBarLayout onMeasureChild method!

[2016-06-08 21:31] henrytao-me commented on #96
Interesting. Let me check. Thanks @bicos

[2016-06-08 22:30] henrytao-me commented on #114
Hi @suhaibroomy

If you want to support fitSystemWidnows, Please check out branch `issue-114` or see my commit above.

[2016-06-10 11:00] suhaibroomy commented on #114
hey @henrytao-me

Thanks for your quick help. I am afraid it didnt fix the issue for me. Although i am not able to reproduce it now in your sample. I think i am doing something wrong. I have to use fitsystemswindow in framelayout that has my recyclerview else my app bar doesnt cover status bar. so i have to give item_header height as 256dp as against 232dp in yours. i think if i am able to fix thi

[2016-06-10 11:05] suhaibroomy commented on #114
i was trying out things in your sample. I tried with this layout and it is happening again. I removed framelayout. any specific reason for keeping recycler view inside framelayout

[code]

  </android.support.design.widget.CoordinatorLayout>

[2016-06-10 11:47] henrytao-me commented on #114
Hi @suhaibroomy

If you remove `android:fitsSystemWindows` in `RecyclerView`, everything works fine except some extra space in the header of RecyclerView (which equals statusbar height). This issue is also appeared in original AppBarLayout based on my test. (However, as I remember, it didn't have that issue before. I tried it few months ago).
That's why I recommend to subtract header space of Recy

[2016-06-10 11:49] henrytao-me commented on #116
Hi @siavashabdoli

What version of SmoothAppBarLayout are you using? You don't have to use those attributes. They are in sample project only.

[2016-06-10 11:51] henrytao-me commented on #96
If you use version `3.0.0` with support design `23.3.0`, it will be fine.

[2016-06-10 19:12] suhaibroomy commented on #114
As i told you if i remove `android:fitsSystemWindows` from my code, android doesn't give this attribute to app bar as well which is kinda strange. I was digging into it as to why it is happening. i noticed you enable transparent status bar from code whereas i am doing it as a property of my activity theme. when i applied this property to your activity's theme same thing happened. i had to give `an

[2016-06-11 06:01] siavashabdoli commented on #116
3.0.0
I customize my layout but there is some problem! during the scrolling my NestedScrollVIew overlap with appbarlayout and appbar layout stay above of the NestedScrollVIew
here is my layout:

[code]

and here is layout offer view main:

[code]

[2016-06-11 13:09] henrytao-me commented on #116
Hi @siavashabdoli

Please remove `app:layout_behavior="@string/appbar_scrolling_view_behavior"` in `me.henrytao.smoothappbarlayout.widget.NestedScrollView`

[2016-06-11 13:12] henrytao-me commented on #114
Hi @suhaibroomy

I can help to look into your code if we can arrange a time. What's your timezone? Mine is GMT+7. Let's do teamviewer then.

[2016-06-11 19:27] suhaibroomy commented on #114
sure.mine is GMT +5:30. its sunday tomorrow. if we can do it in the morning that would be better. my email is suhaibroomy91@gmail.com. same is configured with teamviewer. ping a suitable time on email

[2016-06-12 11:22] #116 closed, assigned to nobody

[2016-06-13 20:36] suhaibroomy commented on #113
it does work for 23.4.0. verified

[2016-06-13 21:56] #113 closed, assigned to nobody

[2016-06-14 05:35] siavashabdoli commented on #116
also I force to add padding to child of me.henrytao.smoothappbarlayout.widget.NestedScrollView (linearlayout)

[2016-06-14 13:48] nenick commented on #96
This can be reproduced with your sample app. Change the dependency to your release `23.2.1`.

from

[code]

to

[code]

Clean install the sample app and start the scroll sample on the right (left one still works). -> crash

Looks like when we use the sources all works fine, but when using the dependency then we get this crash. The same behaviour occurs when I use the code revision from release `23

[2016-06-14 13:53] henrytao-me commented on #96
I saw it. For now, it works normally on `me.henrytao:smooth-app-bar-layout:3.0.0` and `com.android.support:design:23.3.0`.

What AppCompat and SupportDesign version are you using?

[2016-06-14 14:24] nenick commented on #96
Thanks `3.0.0` does fix the issue. I'm useing SupportDesign version `23.4.0`. Bad that I found no release notes about it.

[2016-06-14 14:26] henrytao-me commented on #96
Sorry. It's my bad.

[2016-06-21 11:30] hrsalehi commented on #105
Same issue here. I Have a button inside my `CollapsingToolbarLayout` but scrolling is disabled.

[2016-06-21 13:18] hrsalehi commented on #24
I have the same issue. when I call `setExapnded(false,true)` (for scrolling app bar programmatically with animation) for `SmoothAppBarLayout` the nested scroll view doesn't scrolled and remain still.

[2016-06-29 07:17] gitanshu commented on #105
I am facing a similar issue too. I have a ViewPager inside the SmoothCollapsingToolbarLayout and ViewPager items are clickable.

[2016-07-03 20:50] suhaibroomy opened #117 "smooth app bar layout collapses without scrolling header"
![screenshot_20160704-021606](https://cloud.githubusercontent.com/assets/12771866/16547502/96cf3454-418d-11e6-8353-177769177a56.png)
![screenshot_20160704-021621](https://cloud.githubusercontent.com/assets/12771866/16547503/96fd6d7e-418d-11e6-9187-972162b42e4d.png)

This happens every time when i insert an item. help me debug this

[2016-07-06 15:12] domsu commented on #100
@henrytao-me Do you plan to release version that supports 23.3.0 of android support library?

[2016-07-07 01:30] henrytao-me commented on #117
Let me look into it

[2016-07-07 01:32] henrytao-me commented on #100
I will look into it.

[2016-07-07 07:12] suhaibroomy commented on #117
i can provide you with logs if you want. or we can debug over teamviewer. let me know

[2016-07-07 07:15] henrytao-me commented on #117
Please provide more information about your current setup. Ex: what version of SmoothAppBarLayout, AppCompat version, support design version, device name, OS version? Thanks.

[2016-07-07 08:47] suhaibroomy commented on #117
smoothAppBarLayout - 3.0.0 (tested with 23.3.0 as well)
AppCompat - 24.0.0 (tested with 23.3.0 as well)
Support Design - 24.0.0 (tested with 23.3.0 as well)
device - tested with samsung s6, s5, nexus 5x and some other low end devices
os version - tested on marshmallow and lollipop

[2016-07-08 01:56] henrytao-me commented on #117
Hi @suhaibroomy

I have a few questions:
1. Are you using Fragment for the list?
2. If so, did you initiate Fragment properly? Ex: only create new fragment in `activity.onCreate` when `savedInstanceState` is null.
3. If you data is loaded async, you can call `smoothAppBarLayout.syncOffset(your_recycler_view_current_vertical_offset)` onResume
4. Did you turn on `Don't keep activities` flag in `Deve

[2016-07-08 02:10] henrytao-me commented on #117
In the meantime, you can fix this issue by following code if you are using RxJava (If not, do similar thing with handler). I will review the library internally this weekend. Thanks.

[code]

[2016-07-08 10:03] suhaibroomy commented on #117
1. yes i am using a fragment for list
2. no i didn't initiate it properly but i don't think thats the issue. because it happens every time regardless of activity state
3. no i didn't turn it on

My structure - Activity contains appbar , fragment A(list) and fragment B(bottom sheet).
fragment B(bottom sheet) contains a child fragment and whenever i try to update fragment A from this fragment it goe

[2016-07-08 13:49] Benson-Zheng commented on #105
I also encountered the same problem

[2016-07-10 15:38] suhaibroomy commented on #117
thanks...it wasn't happening due to activity getting killed. fixed my code using your solution on the scenarios it was happening rather than onresume

[2016-07-11 01:01] henrytao-me commented on #117
Thanks @suhaibroomy

I am working on v4 which potential smoother and simpler to use. It may take a look of twist on TouchEvent system. I will let you know when it's rolled out.

Cheers,
Henry

[2016-07-13 19:25] suhaibroomy commented on #117
oh thats great news. will be waiting for it. cheers

[2016-07-15 06:06] dawan6756 opened #120 "inSmoothAppBarLayout"
[code]

[2016-07-15 06:07] dawan6756 commented on #120
RecyclerView in SmoothAppBarLayout cannot work

[2016-07-17 09:55] xpbtmusic opened #121 "Prevent RecyclerView from scrolling under AppBarLayout before AppBarLayout is collapsed"
Prevent RecyclerView from scrolling under AppBarLayout before AppBarLayout is collapsed

[2016-07-17 11:03] henrytao-me commented on #121
Can you describe more about this issue?

[2016-07-18 08:27] xpbtmusic commented on #121
When I touch slide up, appbar are folding , recycleView should stop scrolling until it slide to the top, recycleView can slide and scroll.

[2016-07-18 08:47] xpbtmusic commented on #121
Hi, there's another problem, DragTopLayout added PullToRefresh, if the topView has  two rows of the button with pictures at drawableTop can not slide.

[2016-07-18 08:51] kal4l commented on #102
+1

[2016-07-19 12:45] bashadiq opened #122 "Rendering problems"
when using this library, in my editor i get two errors. Saying "onMeasure error; and the stackTrace is as follows;

java.lang.StackOverflowError
    at android.support.design.widget.AppBarLayout$Behavior.onMeasureChild(AppBarLayout.java:738)
    at me.henrytao.smoothappbarlayout.BaseBehavior.onMeasureChild(BaseBehavior.java:80)
    at android.support.design.widget.AppBarLayout$Behavior.onMeasureCh

[2016-07-19 14:18] bashadiq opened #123 "Can the library work on support library V24"
am trying to use the library but the library pops up a message that says onMeasure errors with stackTrace as;

java.lang.StackOverflowError
    at me.henrytao.smoothappbarlayout.BaseBehavior.onMeasureChild(BaseBehavior.java:76)
    at android.support.design.widget.AppBarLayout$Behavior.onMeasureChild(AppBarLayout.java:738)
    at me.henrytao.smoothappbarlayout.BaseBehavior.onMeasureChild(BaseBehav

[2016-07-19 14:40] henrytao-me commented on #123
Let me work on the upgrade now.

[2016-07-19 22:40] henrytao-me commented on #123
Hi @bashadiq

Please use one of these following command:

[code]

Thanks for your report.

[2016-07-19 22:40] #123 closed, assigned to nobody

[2016-07-19 22:41] henrytao-me commented on #122
Duplicated issue https://github.com/henrytao-me/smooth-app-bar-layout/issues/123

[2016-07-19 22:41] #122 closed, assigned to nobody

[2016-07-20 15:34] mrhether commented on #114
Did you guys figure this out? I also have this issue and it seems to be related to `recyclerView.addItemDecoration` the glitching deals with the extra space that may be added with this method.

[2016-07-20 18:12] suhaibroomy commented on #114
This issue still persists. i am not using any itemdecoration

[2016-07-20 18:14] mrhether commented on #114
It has to do this `recyclerview.computeVerticalScrollOffset()` which estimates the offset based on the heights of the views.

[2016-07-20 18:41] mrhether commented on #114
maybe try

[code]

[2016-07-27 06:23] kuwapa opened #124 "Full working example for SmoothCollapsingToolbarLayout"
Hello @henrytao-me ,

The library seems to be awesome. But I'm not able to make SmoothCollapsingToolbarLayout from the code on readme work for me. I couldn't find a full working example of SmoothCollapsingToolbarLayout in your sample app either.

Would be super helpful if you could provide an example.

Thanks

[2016-07-28 02:48] narinbsru opened #125 "scroll not work when setting LayoutManager VERTICAL in recyclerview"
`RecyclerView.LayoutManager mLayoutManager = new GridLayoutManager(getActivity().getApplicationContext(), 3, GridLayoutManager.VERTICAL, false);
`

[2016-07-28 14:00] borgwald commented on #114
having the same issue with designlibrary 24.1.1 and smooth-appbar-layout 24.0.0.0. I dont use CollapsingToolbarLayout. Its a normal Coordinatorlayout with toolbar and slidingtablayout inside smoothappbarlayout. but i am using a recyclerview with linearlayoutmanager. i think it has something to do with recyclerview and smoothappbarlayout. since smoothappbarlayout version 1.0.0 this library seems to

[2016-07-28 21:50] henrytao-me commented on #124
Hi @abhiank209

Can you tell me what AppCompat and Support Design version are you using?

[2016-07-28 21:54] henrytao-me commented on #125
Can you send me the apk? I checked and it worked on my side. Also, what version of AppCompat and Support Design are you using?

[2016-07-28 21:58] henrytao-me commented on #114
Hi @borgwald

Please use `smooth-appbar-layout:24.1.1.0` ;)

[2016-07-29 17:10] borgwald commented on #114
thanks. tried 24.1.1.0. but flickering-bug still happens. reverted back to support-version  23.2.1 and appbarlayout-version 0.2.3.

[2016-08-01 02:20] andyxialm commented on #114
I have the same issue with @borgwald.

[2016-08-01 07:44] suhaibroomy commented on #114
will you be able to look into it if i make a try to reproduce this in a sample app @henrytao-me ?

[2016-08-01 07:59] henrytao-me commented on #114
Sure. @suhaibroomy I couldn't reproduce in sample app. Still dont know why. I am very appreciate if you can help.

[2016-08-01 14:34] henrytao-me commented on #114
Hi @suhaibroomy

Let's verify this issue together. I am up for a call via Hangout tomorrow, around 8 PM to 9 PM (GMT + 7) which is 6:30 PM to 7:30 PM your time if I am right.

Let me know if you are OK.

[2016-08-04 04:10] showang commented on #98
I found the root cause!!
RecyclerView has a bug that scroll offset might be wronged when using multiple view type.

[2016-08-04 12:19] #94 closed, assigned to nobody

[2016-08-06 17:35] ln206 opened #128 "Failed to resolve: me.henrytao:smooth-app-bar-layout:23.4.0.*"
Hello there,

I'm trying to include smooth-app-bar-layout in my test project. But i'm getting this error:

`Error:Failed to resolve: me.henrytao:smooth-app-bar-layout:23.4.0.*
<a href="openFile:C:/Users/Long Nguyen/Desktop/MyApplication/app/build.gradle">Open File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>`

Here's my build.gradle file:

`apply plugi

[2016-08-07 04:10] henrytao-me commented on #128
Hi @ln206

Please try `compile "me.henrytao:smooth-app-bar-layout:23.4.0.1"`. Thanks.

[2016-08-07 04:10] #128 closed, assigned to nobody

[2016-08-07 04:14] #87 closed, assigned to nobody

[2016-08-07 04:16] henrytao-me commented on #92
Please try again on latest support versions. Let me know if you still have issues. https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/CHANGES.md

Thanks.

[2016-08-07 04:16] #92 closed, assigned to nobody

[2016-08-07 04:17] henrytao-me commented on #96
Checkout all supported versions here. Thanks. The version of SupportDesign, AppCompat and SmoothAppBarLayout should be the same. Otherwise, you will get this issue.
https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/CHANGES.md

[2016-08-07 04:17] #96 closed, assigned to nobody

[2016-08-07 04:18] henrytao-me commented on #98
I tried multiple view type in my production app. It doesn't cause this issue. Weird.

[2016-08-07 04:18] #98 closed, assigned to nobody

[2016-08-07 04:20] henrytao-me commented on #100
It's supported. Please check https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/CHANGES.md

[2016-08-07 04:20] #100 closed, assigned to nobody

[2016-08-07 04:22] henrytao-me commented on #104
Hi @huyn

This is by design. SmoothAppBarLayout uses different approach compared to AppBarLayout. This is it limitation. I will try to improve it in next release.

Thanks

[2016-08-07 05:07] henrytao-me commented on #120
Hi @dawan6756

Of course it won't work. Why do you want to put RecyclerView inside AppBarLayout?

[2016-08-12 09:22] aahmad123121 commented on #83
Hi,
I am getting issue mentioned below while using smooth-app-bar-layout
 android.view.InflateException: Binary XML file line #13: Error inflating class me.henrytao.smoothappbarlayout.SmoothAppBarLayout

the dependency of smooth-app-bar-layout is design library and latest appcompat v 35 in eclipse
Hi, find out problem

[2016-08-12 11:50] aahmad123121 opened #130 "While scrolling facing different different issue with smooth-app-bar-layout-master"
Hi,
I am facing bouncing issue only like this : https://www.youtube.com/watch?v=xMLKoJOsTAM&feature=youtu.be

and some how how reduced frequency using suggested  solution (by Manolo Garcia) in link:
http://stackoverflow.com/questions/30923889/flinging-with-recyclerview-appbarlayout

but i want to completely solve this using your library:
We copied all java classes and res in my app of smooth-app-b

[2016-08-12 18:03] suhaibroomy commented on #114
Hi @henrytao-me

Sorry i just checked your comment. I am only free on sundays i am afraid. we can do a hangout session or i can also try to replicate this on my sample app which ever you may prefer

Thanks

[2016-08-15 05:17] henrytao-me commented on #130
Hi @aahmad123121

Sorry for late response. Your xml layout looks complicated. You have `ViewPager`, `NestedScrollView` and `RecyclerView`. Why do you need all of them in one layout? It doesn't match with what I saw in your video.

So, can you show me a screenshot of UI that you want to implement?

[2016-08-15 05:31] henrytao-me commented on #130
I suggest you follow this sample https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_scroll_exit_until_collapsed.xml

[2016-08-15 06:57] khalid-mahmood commented on #102
waiting for Update with Avatar... SmoothAvatarActivity

[2016-08-16 04:28] aahmad123121 commented on #130
Hi,
Please find attached screen shot
![screenshot_2016-07-15-14-28-34](https://cloud.githubusercontent.com/assets/7857323/17688040/d7d06ba8-6398-11e6-8c4e-c2f09be4fc9c.png)

Thanks,
Ayaz Ahmad

[2016-08-16 04:34] henrytao-me commented on #130
Hi @aahmad123121
I checked your app. All elements look a bit small compared to stand specs from Material Design. There is no offer in my location. So that, I can't scroll the list. Can you take a video about scrolling behavior?

Thanks

[2016-08-16 04:40] aahmad123121 commented on #130
Hi,
Actually this app is published only in INdia, Malysia, and Indonesia, thats why you  are not getting offer. For which country you are testing , please give me detail so we can add support for that country also
Thanks,
Ayaz

[2016-08-16 04:44] henrytao-me commented on #130
I am from Vietnam.

[2016-08-16 04:54] aahmad123121 commented on #130
Hi,
I have not permission to add country support for production build.
but issue is same while scrolling item in recylerview like this:
https://www.youtube.com/watch?v=xMLKoJOsTAM&feature=youtu.be
![screenshot_2016-07-15-14-28-34](https://cloud.githubusercontent.com/assets/7857323/17688294/9935b9f4-639b-11e6-8740-06cda3e970b9.png)

[2016-08-16 05:16] aahmad123121 commented on #130
![screenshot_2016-08-16-10-00-56](https://cloud.githubusercontent.com/assets/7857323/17688648/b2daa04c-639e-11e6-9bbe-77af3084f7ee.png)

Hi,
I am giving some further detail below.
 In AppBarLayout is Featured offer( which is a view pager) and linear layout having small circle which acts as indicator
Offers which shows credits and Tab section(which shows current , Active, MyFaves ......) is inside

[2016-08-18 03:10] cococa opened #131 "android:minHeight"
Remember to set android:minHeight for me.henrytao.smoothappbarlayout.SmoothAppBarLayout in layout file if you use ViewPager.

how to calculate minHeight value？it's also 48p？

[2016-08-18 03:45] henrytao-me commented on #131
Hi @cococa

`minHeight` is only needed if you want to use with ViewPager. Normally, it's 48dp unless you want it bigger

[2016-08-18 04:23] cococa commented on #131
@henrytao-me  thanks！

[2016-08-18 04:34] #131 closed, assigned to nobody

[2016-08-18 13:49] borgwald commented on #114
are there any updates on this issue?

[2016-08-22 08:17] onclicklistener opened #132 "Can't work with Fragment"
here is my xml:

[code]

if I use smoothAppBarLayout,when  replace the frameLayout with a fragment and without layout_behavior attach to it,it goes above the appBarLayout.How could i solve this?thx

[2016-08-22 22:28] henrytao-me commented on #132
Hi @onclicklistener

You just need to change the order. Try put `fragment` or `FrameLayout` before `SmoothAppBarLayout`. Then you are good to go.

Thanks.

[2016-08-22 22:33] henrytao-me commented on #114
Hi all, I still don't have any updates yet. Sorry about that.

[2016-08-24 15:52] vincekoo commented on #92
I am experiencing this issue on 24.1.0

[2016-08-24 23:43] #132 closed, assigned to nobody

[2016-08-24 23:44] henrytao-me commented on #132
Let me know if you still have this issue

[2016-08-26 08:42] onclicklistener commented on #132
I change the order but it didn't work.

[2016-08-26 12:22] henrytao-me commented on #132
Can you try this?

[code]

[2016-08-27 01:54] lovebdsobuj commented on #32
You just need to remove **`CollapsingToolbarLayout`** from you **`xml`**.

[2016-08-29 05:31] sgaikar1 opened #133 "Failed to sync gradle project"
@henrytao-me i am unable to sync my gradle with your repository.
my design support and appcompat support version is 24.1.1

[2016-08-29 05:38] henrytao-me commented on #133
Hi @sgaikar1

Can you send your gradle file here? Also, please check if you uncheck offline work in Gradle settings (Android Studio preferences).

[2016-08-29 05:38] sgaikar1 commented on #133
@henrytao-me i got issue which is allready in your closed topics.. i need to use your library with version 24.1.0.0

[2016-08-29 05:38] #133 closed, assigned to nobody

[2016-08-29 05:41] henrytao-me commented on #133
I see. You can also try this build

`compile "me.henrytao:smooth-app-bar-layout:24.1.1.0"`

[2016-08-29 05:47] sgaikar1 commented on #133
thanx i will update it in my gradle.. and your help is much apreciated.. thank you :)

[2016-08-29 15:34] mark-dlc commented on #121
Sounds to me like you are using `app:layout_behavior="@string/appbar_scrolling_view_behavior"` on your scrolling view. Could that be?

[2016-08-29 15:36] henrytao-me commented on #121
Thanks for helping @mark-dlc

[2016-08-29 15:41] henrytao-me commented on #121
@mark-dlc  Does SmoothAppBarLayout work on your projects? Do you need any help?

[2016-08-29 15:50] mark-dlc commented on #121
@henrytao-me SmoothAppBarLayout is the only solution so far that fixes the smooth scrolling issue for me. I still had/have to dot some i's and cross some t's (had this issue: https://github.com/henrytao-me/smooth-app-bar-layout/issues/92, but was able to work around that with manually added margin) but I'm getting there. Wasn't expecting this commercial-class support on an open source project, you

[2016-08-29 15:52] henrytao-me commented on #121
Thanks @mark-dlc. I will keep contribute to community.

[2016-09-02 11:01] pstambrecht opened #135 "Bad behavior of anchored View."
Hi,
I'm trying to anchor button (direct child of CoordinatorLayout) to SmoothAppBarLayout with `app:layout_anchor="@id/smooth_app_bar_layout"` and  `app:layout_anchorGravity="bottom|center"`.  It works fine until I swipe. The buttons movement is slower then SmoothAppBarLayouts movement.

[2016-09-06 20:30] Ozuan opened #136 "While scrolling, main layout goes behind AppBarlayout before it collapses."
When I fling my main content, It goes below the "header" of my appbarlayout. I know it's because of the  app:layout_behavior="@string/appbar_scrolling_view_behavior".

If I remove that, the main layout goes behind my header but the scroll works as it should.

Got any suggestions of what is wrong here?

It's a complex layout, so I don't have hopes you can help me with this.

Regards.

[code]

[2016-09-07 12:35] henrytao-me commented on #136
Hi @Ozuan

As I can see, you want to implement `exitUntilCollapse` animation. If you use `android.support.design.widget.AppBarLayout`, this line should be used too `app:layout_behavior="@string/appbar_scrolling_view_behavior"`. Otherwise, it won't work properly.

I have some questions for you:
1. What Appcompat and Support Design are you using?
2. Why did you remove `app:layout_behavior="@string/a

[2016-09-07 12:36] henrytao-me commented on #135
Hi @pstambrecht

Can you record a video about that behavior?

Thanks,
Henry

[2016-09-07 12:52] Ozuan commented on #136
Hi @henrytao-me

1) I'm working with version: 23.4.0.1
2) Because this is what happens If i keep app:layout_behavior="@string/appbar_scrolling_view_behavior"  [https://www.youtube.com/watch?v=iMEDZoeHNec](url)
3)This is the expected scrolling (With the AppbarLayout from design library): [https://www.youtube.com/watch?v=ucj0NQbdR68](url)

If i remove "@string/appbar_scrolling_view_behavior" , the s

[2016-09-07 13:06] henrytao-me commented on #136
Hi @Ozuan

I see what you mean.

If you want to use SmoothAppBarLayout to fix scrolling issue from original AppBarLayout, you have to tweak your layout a little bit. The general idea is that you have to specify a header view (if you use recyclerview) or a header spacing (if you use NestedScrollView). Please refer to the concept image below

In you case, it's an easy fix: use SmoothAppBarLayout, re

[2016-09-07 13:19] Ozuan commented on #136
I slapped myself in the face.

I was "I already tried that" when i read your answer at first, then, I saw the attribute android:clipToPadding="false", I had never seen it and it fixed the problem of course.

Thanks @henrytao-me

[2016-09-07 13:21] henrytao-me commented on #136
Sweet. Pretty happy that it works for you. Feel free to reach me if you have any further issues. Happy coding.

[2016-09-07 13:21] #136 closed, assigned to nobody

[2016-09-07 14:52] Ozuan opened #137 "Avoid onRestoreInstanceState"
HI @henrytao-me

I don't want to save my layout after rotation, the problem is that after the ID is set on SmootAppBarlayout the system will automatically save its Instance State in a Bundle object. (I need the ID here for other methods)

Simple question:  How to override that so It doesn't save the Instance state?

Regards.

[2016-09-09 04:36] henrytao-me commented on #137
Hi @Ozuan

The output of disabling `onRestoreInstanceState` is: always scroll to the top after rotating, isn't it?
If yes, you can try something like this

[code]

The idea is: calling syncOffset(0) to reset SmoothAppBarLayout. You may need to make sure the scrolling position of RecyclerView or NestedScrollView is correct after rotating.

[2016-09-09 04:37] #137 closed, assigned to nobody

[2016-09-09 04:54] nikhilreprime opened #138 "Initiate vertical viewpager scroll using tabstrip as well"
Using appbar layout user can initiate vertical scroll through tabstrip but in smooth-app-bar this might be overridden by some other functionality

can you please help to get that one also working

[2016-09-09 05:57] henrytao-me commented on #138
Can you post your sample code here using original AppBarLayout?

[2016-09-09 07:04] nikhilreprime commented on #138
<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

[code]

</RelativeLayout>

[2016-09-09 07:06] nikhilreprime commented on #138
thanks for quick response
you can use tabLayout instead of slidingTabLayout
and you can remove  app:layout_behavior  from AppBarLayout

please tell me is it possible to fix this issue
and also the issue with clickable item not being able to scrollable is not yet fixed , do you have any hack for this issue

thank you

[2016-09-10 05:42] teddychoi opened #139 "App bar hides unexpectedly when image loaded"
Hi.

When 'Picasso' loads images, app bar hides unexpectedly.

Video:
https://drive.google.com/file/d/0B8dZDvlWYJm1TWtmYVBIay0wblU/view

Full source code:
https://github.com/teddychoi/Curzytagram

Is there something I missed?

[2016-09-10 06:16] henrytao-me commented on #139
Interesting. I am checking your repo.

[2016-09-10 10:19] henrytao-me commented on #139
Hi @teddychoi

Please try `24.2.0.2`. It's fixed. Thanks for reporting this issue with sample project. 🙇

[2016-09-10 10:19] #139 closed, assigned to nobody

[2016-09-10 10:22] henrytao-me commented on #120
Please let me know and reopen this issue if you need further assist. Thanks.

[2016-09-10 10:22] #120 closed, assigned to nobody

[2016-09-10 10:23] henrytao-me commented on #117
Hi @suhaibroomy

Please try out latest version. Hopefully it's resolved your issue. Please reopen this issue if you need further assist.

[2016-09-10 10:23] #117 closed, assigned to nobody

[2016-09-10 10:26] henrytao-me commented on #114
Hi @borgwald @suhaibroomy
Please try out latest version. I fixed it. Thanks to @teddychoi for reporting issue with sample project here. https://github.com/henrytao-me/smooth-app-bar-layout/issues/139
Turn out, it's an issue with RecyclerView. `onScrolling` return dx > 0 while `computeVerticalScrollOffset()` return the same value with previous one.

For now, I close this issue. Please reopen it if

[2016-09-10 10:29] henrytao-me commented on #138
Have you check this example? [https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_view_pager_parallax_exit_util_collapsed.xml](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_view_pager_parallax_exit_util_collapsed.xml)

[2016-09-10 10:31] henrytao-me commented on #125
Please let me know if you need further assist. For now, I will close this issue.

[2016-09-10 10:31] #125 closed, assigned to nobody

[2016-09-10 10:32] #121 closed, assigned to nobody

[2016-09-10 10:33] #26 closed, assigned to nobody

[2016-09-10 10:33] #56 closed, assigned to nobody

[2016-09-10 10:33] #90 closed, assigned to nobody

[2016-09-10 10:53] nikhilreprime commented on #138
yes i tried that example, in that If you try to initiate SmoothAppBarLayout vertical scroll starting from view inside TabLayout , your scroll well be neglected and absorbed by some other event

[2016-09-10 11:07] nikhilreprime commented on #105
I am also facing this issue, tested with latest lib

With android AppBarLayout they have fixed this issue
Does this issue has something to do with onTouchListener of clickable view

[2016-09-10 11:08] henrytao-me commented on #138
If you can send me a video or an apk to check, it's awesome.

[2016-09-10 11:10] henrytao-me commented on #105
Right, because of the approach of SmoothAppBarLayout, I still can't figure out the way to make touch and scroll work at the same time. :(

[2016-09-10 11:21] nikhilreprime commented on #105
I am still new to Application development  so i dont know the right approch , but is is possible to detect touch event inside SmoothAppBarLayout or any parent view  and check for action type
and separate down action from move action
if it is move then initiate SmoothAppBarLayout scroll event , else do nothing

https://developer.android.com/training/gestures/detector.html
http://stackoverflow.com/q

[2016-09-10 11:45] nikhilreprime commented on #138
I am sharing the drive like please check the videos

video with scrolling issue
https://drive.google.com/open?id=0B50q6ZRb0iPaZ2ktTGpLZ3MyY0U

i am referring twitter for getting similar fill of profile page so the expected behavior is something as follows
https://drive.google.com/open?id=0B50q6ZRb0iPabVpUVWFudUVIajg

thank you

[2016-09-10 11:56] henrytao-me commented on #138
I got what you mean. Looking into it now.

[2016-09-11 07:24] suhaibroomy commented on #114
Hey the issue still persists in 24.2.0.2. tried it out with 24.1.0 and 24.2.0 versions of support library. Also fitsystemswindow is not working with this update(also tried with above two versions of support libraries). I have also filed an issue with support library team. seems to be an issue with collapsing toolbar layout. check it out here https://code.google.com/p/android/issues/detail?id=22141

[2016-09-11 08:06] henrytao-me commented on #114
Are there any chances that I can look into your app?

[2016-09-11 08:23] henrytao-me commented on #114
@suhaibroomy

Regarding to `fitSystemWindows` issue in 24.2.0. It needs to call `setOnApplyWindowInsetsListener` on `parallax view` in order to make it work. Checkout my code and screenshot from my app below. If you can provide me access to your current app, I will assist better. I promise your code will be secured. I will delete it immediately right after the issue is fixed for you. It's more int

[2016-09-12 07:11] hvijayh opened #141 "Swiping SmoothAppBarLayout causes Tabs to be swiped as well."
Hey Henry,
First of all, thank you for this super useful library.

I have seen the following behavior in the example app.
In the parallax example, where the size of the SmoothAppBarLayout/CollapsingToolbarLayout is defined to be of a specific value, the horizontal swiping of the view above the tabs seems to trigger a change in the tabs as well. I was wondering if this behavior is a limitation of t

[2016-09-12 07:23] henrytao-me commented on #141
Hi @hvijayh

Nice catch. This is a limitation of SmoothAppBarLayout. I need to investigate more in android touch events in order to fix it. It's also related to clickable in SmoothAppBarLayout here https://github.com/henrytao-me/smooth-app-bar-layout/issues/105.

Thanks for considering using this library. Happy coding.

[2016-09-13 12:37] anilbisht commented on #105
I also encountered the same problem for:
SmoothAppBarLayout---->CollapsingToolbarLayout----->ViewPager.

[2016-09-13 12:44] henrytao-me commented on #105
Thanks @nikhilreprime for your suggestion. It can be a right approach but it's still not an easy fix.
Thanks @anilbisht for reporting this issue too. I will try my best to support scrolling on clickable elements.

[2016-09-16 00:22] hvijayh commented on #141
Cool. Thanks for the update. It'll be great if you could let me know if you find a fix for it.

[2016-09-19 13:50] MrLepage opened #143 "Content appears behind AppBarLayout"
Using version 24.2.1.0, NestedScrollView content appears behind AppBarLayout

![zeroltexxmmb29kalepage09192016154835](https://cloud.githubusercontent.com/assets/18703480/18634296/a4785fce-7e80-11e6-81ae-00fdfba30ce4.png)

[code]

[2016-09-19 13:55] henrytao-me commented on #143
Please set header padding for NestedScrollView (same height as SmoothAppBarLayout's height)

[2016-09-19 14:00] MrLepage commented on #143
The library isn't supposed to do this itself ? I've used it in another project some time ago without having to set this padding manually. (maybe I am wrong)

Thanks for your quick answer

[2016-09-20 08:36] henrytao-me commented on #143
Hi @UNCVR

Due to the approach of SmoothAppBarLayout, you need to handle header view. It's tricky to do it in the library. In original AppBarLayout, you don't have to care about header view but it causes another issues.

[2016-09-20 08:36] #143 closed, assigned to nobody

[2016-09-20 13:04] david-perez commented on #124
@henrytao-me I also find it incredibly difficult to integrate this library with the information provided in the readme.

Especially given the fact that all of the sample's examples make use of third party libraries such as custom [RecyclerView's adapters](https://github.com/henrytao-me/recyclerview-multistate-section-endless-adapter/tree/master/recyclerview/src/main/java/me/henrytao/recyclerview)

[2016-09-20 14:47] henrytao-me commented on #124
Hi @david-perez

Thanks for feedback. I definitely will simplify the sample app. I will take a look at your repo and perhaps send PR to fix it.

[2016-09-20 22:27] henrytao-me commented on #124
I sent you a PR in your repo already. I hope it helps.

[2016-09-20 22:27] #124 closed, assigned to nobody

[2016-09-22 10:45] anukools commented on #138
Hi @henrytao-me , did you get any solution for @nikhilreprime issue.. twitter like scrolling..?

[2016-09-22 13:03] opsenes opened #144 "Stackoverflow error when using with nestedscrollview"
`D/Error: ERR: exClass=java.lang.StackOverflowError`
 `D/Error: ERR: exMsg=stack size 8MB`
 `D/Error: ERR: file=AppBarLayout.java`
 `D/Error: ERR: class=android.support.design.widget.AppBarLayout$Behavior`
 `D/Error: ERR: method=onMeasureChild line=652`

I got this when using nestedscrollview.
In my nestedscrollview I have a recyclerview and a relative layout, inside a relative layout.

[2016-09-22 13:05] henrytao-me commented on #144
Hi @opsenes

Please provide more information about what version of Support Design, Appcompat and SmoothAppBarLayout are you using? So that, I can assist you better.

Thanks,
Henry

[2016-09-22 13:08] henrytao-me commented on #138
Hi @anukools

I don't have any updates until now. Looking forward to Droidcon NYC next week. Chris Banes is going to have some cool stuffs there.

[2016-09-22 13:08] opsenes commented on #144
`com.android.support:appcompat-v7:23.4.0`
`com.android.support:design:23.4.0`
`me.henrytao:smooth-app-bar-layout:23.1.1`
Thanks for your fast reply.

[2016-09-22 13:12] henrytao-me commented on #144
The stack overflow issue is caused by using incorrect version. Please try `me.henrytao:smooth-app-bar-layout:23.4.0.2`. Thanks.

[2016-09-22 13:12] henrytao-me commented on #144
I will close this ticket for now. Feel free to let me know if it still doesn't work.

[2016-09-22 13:12] #144 closed, assigned to nobody

[2016-09-22 13:13] henrytao-me commented on #144
Btw, you can find all proper version in `tags` section of this repo.

[2016-09-22 15:52] opsenes commented on #144
@henrytao-me  At first I did not get  `Add header to your NestedScrollView or RecyclerView.`
what do you mean here. I understand it when I mimic your sample code. Maybe the 3rd step could be more clear.
Anyway I accomplished what I wanted to do, I searched a lot about the fling issue. You saved me. Great project. Thanks..

[2016-09-23 06:50] ghost opened #145 "One and a half items of recyclerview is clipped under appbar layout"
[code]

[2016-09-23 07:10] henrytao-me commented on #145
Hi @arjunhegde372

Please try below layout. Also, in your recyclerview adapter, you need to have a first item that has the same height with SmoothAppBarLayout's height to prevent cut off and have smooth scrolling.

[code]

[2016-09-23 08:00] ghost commented on #145
Thanks for the quick reply :) I will try it out...Is it fine if I dont have a toolbar?

[2016-09-23 08:02] henrytao-me commented on #145
Without toolbar, parallax animation may not work properly (IMO). I will close this ticket for now. Feel free to message me if it still doesn't work on your side. Thanks.

[2016-09-23 08:02] #145 closed, assigned to nobody

[2016-09-24 09:02] ghost opened #146 "I dont have status bar in my app, the recyclerview is limiting the scroll to status bar height, and the status bar height is appearing black on top."

[2016-09-24 09:17] #146 closed, assigned to nobody

[2016-09-28 04:27] rinlv commented on #102
Still waiting ...

[2016-09-30 09:19] sumitsahu2207 opened #147 "Header issue"
Hi,

I'm facing issue while adding header to recylcerview.
When I'm scrolling recyclerview, it adds some space between recyclerview items.
Please suggest, how should I resolve this issue.

Best Regards,
Sumit

[2016-09-30 09:25] henrytao-me commented on #147
Hi @sumitsahu2207

Please provide some screenshots or video about the issue. Thanks.

[2016-09-30 09:59] sumitsahu2207 commented on #147
Hi,

Please find attached xml layouts and screenshots

[activity_main.txt](https://github.com/henrytao-me/smooth-app-bar-layout/files/502623/activity_main.txt)
[content_activity_main.txt](https://github.com/henrytao-me/smooth-app-bar-layout/files/502624/content_activity_main.txt)

![screenshot_2016-09-30-15-23-08](https://cloud.githubusercontent.com/assets/19974192/18988012/51ffcc14-8722-11e6-9386

[2016-09-30 11:32] arjunkn opened #148 "StackOverflowError onMeasureChild"
I got this error on implementing smooth smoothappbarlayout

`Process: com.solutions.miyamiya, PID: 22565
                                                                        java.lang.StackOverflowError: stack size 8MB
                                                                            at me.henrytao.smoothappbarlayout.BaseBehavior.onMeasureChild(BaseBehavior.java:80)

[2016-09-30 11:34] henrytao-me commented on #148
Hi @arjunkn

What version of AppCompat, SupportDesign and SmoothAppBarLayout are you using?

[2016-09-30 11:35] arjunkn commented on #148
[code]

[2016-09-30 11:38] henrytao-me commented on #147
Hi @sumitsahu2207

If you use RecyclerView, the HeaderView should be the first item in RecyclerView adapter. You have 2 options to do that: use viewType to setup header item or use wrapper adapter approach like this https://github.com/henrytao-me/recyclerview-multistate-section-endless-adapter

Cheers,
Henry

[2016-09-30 11:38] #147 closed, assigned to nobody

[2016-09-30 11:39] henrytao-me commented on #148
Can you try these?

[code]

[2016-09-30 11:41] henrytao-me commented on #148
I believe it will work. So, I will close this issue for now. Feel free to ping me if you still have this issue. Thanks

[2016-09-30 11:41] #148 closed, assigned to nobody

[2016-09-30 12:00] arjunkn commented on #148
thanks it worked.. sorry for the late replay.

[2016-09-30 23:45] henrytao-me commented on #102
Hi @rinlv

Let me fix the scrolling first. ChrisBane also has some updates on upcoming Support Library in NYC. Check out here http://banes.me/dcnyc16

Cheers,
Henry

[2016-09-30 23:54] longden commented on #114
Still an issue on 24.2.1. I'm using a nested scroll view with a relative layout and recycler view inside. Only happens when flinging.

[2016-10-01 00:02] henrytao-me commented on #114
Hi @longden

Can you post your layout here? If you put RecyclerView inside NestedScrollView, then the scrolling is on NestedScrollView, isn't it? You may need to disable your RecyclerView like this `recyclerView.setNestedScrollingEnabled(false);`

[2016-10-01 00:23] henrytao-me commented on #114
I have tried a screen with horizontal RecyclerView inside vertical RecyclerView using above way. It works.

[2016-10-01 00:28] longden commented on #114
@henrytao-me After playing around with it for a while I found I wasn't using your custom NestedScrollView which fixes the flickering.

[2016-10-01 00:37] henrytao-me commented on #114
It's good to know @longden. My custom `NestedScrollView` only support adding multiple OnScrollChangeListener. Depending on your usecase but in general, it plays the same as original NestedScrollView.

[2016-10-01 15:31] longden commented on #114
@henrytao-me Thank you for your help.

I had a quick look around because I wondered why changing it would fix it. From the quick look I had it seems that the implementation of mNestedScrollView.getViewTreeObserver().addOnScrollChangedListener() introduces some lag (also a potential memory leak because off the add) which might be the cause of the visual flickering. If I force the NestedScrollView t

[2016-10-06 03:56] ghost opened #149 "I have a toolbar which is overlapped to first item in recyclerview, is it possible to implement Smooth app bar layout above this recyclerview?"
The toolbar should be pinned on top after scrolling up. Thanks

[2016-10-06 04:12] henrytao-me commented on #149
Hi @arjunhegde372

Can you share your layout? Can you also move RecyclerView before SmoothAppBarLayout?

[2016-10-06 04:19] ghost commented on #149
[code]

[2016-10-06 06:56] henrytao-me commented on #149
Hi @arjunhegde372

Overall, the structure of your layout is not correct. Please refer to these following links:
- If you want to use ViewPager with AppBarLayout, go here [https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_gsd_view_pager.xml](https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_gsd_vie

[2016-10-10 06:57] sach185 opened #150 "RecylerView inside CollapsingToolbarLayout"
My requirement is that I need a Recycler view inside my collapsing toolbar.

Layout :

[code]

The issue I face now is that there is no scroll on Appbar.
Is there any way to implement this?

[2016-10-11 07:56] nikhilreprime commented on #138
hi @henrytao-me , i am really in pinch because of this issue, can you give me some clue to pin point this issue
No clickable element in collapsableToolBar initiates scroll action

i tried this solution on tabStrip in tabLayout but it is not complete and not initiating nested scroll

private  class  OnTouchListenerStrip implements  OnTouchListener
{
        int yOld = 0 , yNew = 0;
        boolean

[2016-10-12 13:27] nikhilreprime commented on #138
implementation of
onInterceptTouchEvent(CoordinatorLayout parent, V child, MotionEvent ev)

in HeaderBehavior is the place where action move action gets canceled

due to
onInit()
inside BaseBehavior is setting  mDragCallbackListener

 if (mDragCallbackListener == null) {

[code]

}

can you get this working

[2016-10-14 14:47] henrytao-me commented on #138
Hi @nikhilreprime

I understand your concern. I just back from Hollands. I will spend one day in weekend to investigate this issue. Try my best to come up with a solution.

I will keep you posted. Thanks.

[2016-10-14 14:49] henrytao-me commented on #150
Hi @sach185

In your second RecyclerView (the one is **). Please try `recyclerView.setNestedScrollingEnabled(false);`

I hope it help.

Cheers,
Henry

[2016-10-14 14:50] nikhilreprime commented on #138
Thank you very Much
I really appreciate it
On Oct 14, 2016 8:17 PM, "Henry Tao" notifications@github.com wrote:

[2016-10-18 12:45] henrytao-me commented on #138
Hi @nikhilreprime

I haven't had solution for this right now. It's tricky. Touching is still messed up. Sorry.

[2016-10-18 15:45] nikhilreprime commented on #138
Thanks

I will also try to solve this one
If you find the fix please let me know
On Oct 18, 2016 6:15 PM, "Henry Tao" notifications@github.com wrote:

[2016-10-20 14:25] IlanVokov commented on #132
same problem

[2016-10-20 14:31] henrytao-me commented on #132
I think this is an issue and likely impossible to resolve with current implementation. I would prefer not to use scroll view in fragment like above (if possible). At the meantime, I don't have solution for this one. Sorry.

[2016-10-20 14:37] IlanVokov commented on #132
ohh :( ... by the way your library is really good with activity!!
but i am using navigation drawer i think the correct way to work with the drawer is fragments

[2016-10-21 08:52] petitTrung commented on #102
Thanks for the Slides.

[2016-10-21 14:03] petitTrung opened #151 "Demo For CollapsingToolbar"
Hello, thanks for your solution.

Could you put a sample with CollapsingToolbarLayout in which there is an Image like [Cheesesquare by Chrisbanes](https://github.com/chrisbanes/cheesesquare/blob/master/app/src/main/res/layout/activity_detail.xml) please ?

Many thanks.

[2016-10-21 14:04] henrytao-me commented on #151
Hi @petitTrung

I think I have it locally. Give me a second.

[2016-10-21 14:05] henrytao-me commented on #150
I will close this issue for now. Let me know if you need further assist. Thanks.

[2016-10-21 14:05] #150 closed, assigned to nobody

[2016-10-21 15:06] henrytao-me commented on #151
Hi @petitTrung

Parallax examples are on master branch now. You can either checkout master or check diff here https://github.com/henrytao-me/smooth-app-bar-layout/pull/152/files

Happy coding.

[2016-10-21 15:06] #151 closed, assigned to nobody

[2016-10-22 05:28] #149 closed, assigned to nobody

[2016-10-22 05:36] ghost opened #153 "Horizontal Recyclerview inside an item is causing problem."
Hi,

Thanks for the library, its been very useful !! I am using a Recyclerview under Appbar layout and I have an Horizontal Recyclerview in one of the cell in parent Recyclerview.  When the first item of that Horizontal Recyclerview is scrolled , the contents in appbar layout appears, when I scroll to third item , it disappears again, and when i come back to first item, it appears again. I want th

[2016-10-22 06:51] #153 closed, assigned to nobody

[2016-10-24 09:20] petitTrung opened #154 "Weird behavior when Image is FullScreen"
Hi,

I found a bug when i define Image in FullScreen mode as you can see in this video :

[Bug Video](https://youtu.be/INWIlbBLFPU)

I have just forked your project and you can refer this bug by this commit :

[Bug Commit](https://github.com/petitTrung/smooth-app-bar-layout/commit/68f251859dfa46158d6ae705f4525c7ec075b86a)

Could you take a look please.

Thanks

[2016-10-24 09:23] henrytao-me commented on #153
Hi @arjunhegde372

You found the way right? Btw, set this to your horizontal recycler view `horizontalRecyclerView.setNestedScrollingEnabled(false);`

Cheers,
Henry

[2016-10-24 09:23] henrytao-me commented on #154
Let me check

[2016-10-24 09:24] henrytao-me commented on #154
@petitTrung

Please check my comment.

[2016-10-24 09:24] #154 closed, assigned to nobody

[2016-10-24 11:44] ssung99 opened #155 "Is it possible to touch the ViewPager inside CollapsingToolbarLayout and scroll it?"
I want to touch ViewPager inside CollapsingToolbarLayout, vertical scroll
Please help me

It is my .xml file

<android.support.design.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystemWindows="true">

[c

[2016-10-24 11:46] henrytao-me commented on #155
Hi @ssung99

Unfortunately, it's not possible right now. People is counting on this issue but I haven't found the solution yet. Sorry.

Cheers,
Henry

[2016-10-25 00:29] ssung99 commented on #155
I understood.
Thank you for answering @henrytao-me

[2016-10-27 07:58] arjunkn opened #156 "Error inflating class android.support.design.widget.CollapsingToolbarLayout"
When i use

compile 'me.henrytao:smooth-app-bar-layout:23.2.1'

i am getting Error inflating class android.support.design.widget.CollapsingToolbarLayout full error log  is given.

I need to use the version 23.2 or greater must me less than 24

`FATAL EXCEPTION: main
                                                                        Process: com.solutions.miyamiya, PID: 25251

[2016-10-27 10:31] #156 closed, assigned to nobody

[2016-10-27 10:33] henrytao-me commented on #156
Hi @arjunkn

Did you solve the issue?

[2016-10-27 10:37] arjunkn commented on #156
yes.. that was problem with version. I used

`compile ('com.android.support:support-v4:23.2.1'){
        force=true;
    }`
to solve it.

[2016-10-31 14:15] mchunalli opened #157 "Please add an anchor view or frame layout with transperent background to smooth nestedscroll view"
![Uploading Screenshot_20161103-010056.png…]()
![screenshot_20161031-191424](https://cloud.githubusercontent.com/assets/23170543/19861281/5144996a-9fcf-11e6-8c6f-8ed461e4402a.png)
![screenshot_20161031-191451](https://cloud.githubusercontent.com/assets/23170543/19861297/5dacbb24-9fcf-11e6-98c2-b42d5dd86529.png)

Hello~
Can you please add a Framelayout with image icon and indicators as anchorview a

[2016-11-04 02:43] Jude-KIM opened #158 "Can i fix toolbar(always shown) as well?(while using viewpager as well)"
Hello.
I'm using SmoothAppbarLayout with toolbar and viewpager together.

But i want to make both toolbar and viewpager(tab) fixed when collapsed.
So only the spaces between toolbar and tab are expanded, and both are always shown.

Do you think it's possible?

Oh, by the way, I got build error("can't resolve" error) everytime i tried to add 'compile me.henrytao:smooth-app-bar-layout:24.1.0.*' to m

[2016-11-04 04:21] henrytao-me commented on #157
Hi @mchunalli

Sorry for late response. I will take a look and create sample during weekend. Thanks a lot.

[2016-11-04 04:25] henrytao-me commented on #158
Hi @Jude-KIM

It's better if you can show me a screenshot to illustrate with you want to do. I not sure about the issue with `24.1.0.*`. If possible, please try latest version which is `24.2.1.0`. It highly recommends to use fix version instead of `*` to avoid unexpected result.

Cheers,
Henry

[2016-11-04 04:47] Jude-KIM commented on #158
Hi Henry.

Please check belows.

What i want(Tool bar and tab  are always showing)

[code]

What smooth-app-bar look like(Tool bar is gone when scroll. But tab is
showing)

[code]

Smoothappbar always hide the tool bar when scrolling down. I want to make
tool bar is always showing, just like tab.

And
'me.henrytao:smooth-app-bar-layout:24.2.1.0'

worked for me. Format like   num.num.num.\*   never

[2016-11-04 04:48] henrytao-me commented on #158
Thanks @Jude-KIM I will check and reply you later. Cheers.

[2016-11-04 16:20] mchunalli commented on #157
![screenshot_20161105-011522](https://cloud.githubusercontent.com/assets/23170543/20013163/85c5aafc-a2f5-11e6-8e42-3fa042a35d8e.png)

Icon should be a Framelayout hence can add main icon with promotional badges.

Landscape view is overlaped even more collapsing toolbar.
Toolbar (action bar scroll) starts just after icon hits to toolbar bottom.

Please check, playstore ...search Google, click any g

[2016-11-07 10:23] sebastian-raubach opened #159 "Support for 25.0.0 ?"
Is there any estimate as to when 25.0.0 will be supported? I'd like to try this library, but can't since I'm using 25.0.0.

[2016-11-11 14:46] henrytao-me commented on #158
README is updated. Thanks for your report.

[2016-11-11 14:46] #158 closed, assigned to nobody

[2016-11-11 15:31] henrytao-me commented on #157
Hi @mchunalli

Just quick confirmation. Is this what you want to do? Check out this apk https://drive.google.com/open?id=0B5HntpVe6CemWU1TUUpQOWtQeGs

The code for that is

[code]

In oder to make it work with FrameLayout instead of FloatingActionButton, you have to create custom `layout_behavior` for it. Try to mimic FloatActionButton.Behavior. If you still need this custom `layout_behavior`, I c

[2016-11-11 15:38] henrytao-me commented on #159
Hi @sebastian-raubach

It's supported. Check it out.

[2016-11-11 15:38] #159 closed, assigned to nobody

[2016-11-12 03:04] mchunalli commented on #157
Thanks for the reply.
FAB is not.my exact requirement.

If you can check Google play store application, it's smooth scroll as well as anchorview  (not FAB) is overlaped with background image.

In landscape mode it's overlaped area is evem bigger.

As per my understanding FAB support only one image as icon. My requirement is to have more then two Images in anchorview position.
(Image overlaped with

[2016-11-14 04:47] nurjan84 opened #162 "Toolbar elevation shadow"
after adding smooth app bar the shadow of toolbar has gone

[2016-11-14 05:10] henrytao-me commented on #162
Can you share you layout here?

[2016-11-15 11:17] mchunalli opened #163 "nested scroll beahviour is not acheived."
Hello~
I used the customeNestedScrollView with SmoothAppBarLayout
Since both layout has a  android:paddingTop="255dp" ,
As per guidence, I have not set the  app:layout_behavior="@string/appbar_scrolling_view_behavior"

If layout_behavior not set, it just scroll vertically. no collapsing or nested scroll behaviour seen.

If I set layout_behavior="@string/appbar_scrolling_view_behavior" then I see "

[2016-11-15 14:32] henrytao-me commented on #157
Hi @mchunalli

As I mentioned, I just want you to confirm that is it an animation that you want to do. Of course, the sample only use fab animation which is limited. As I said, in order to support FrameLayout, you need to write custom behavior for it.

[2016-11-15 14:33] henrytao-me commented on #163
Can you post your layout and describe a bit about how you manage content of NestedScrollView?

[2016-11-15 15:11] bytewired opened #164 "Position of NestedScrollView and AppBarLayout"
Hello, in my layout I have this hierarchy:
[code]

And I can't use SmoothAppBarLayout, because I get incorrect position of views. NestedScrollView draw over AppBarLayout in match_parent of screen. You can fix this?

P.S.: I can't use this hierarchy, because this feature of screen.
[code]

[2016-11-16 00:28] mchunalli commented on #157
Thank you for the reply.
It's not animation.

We just want to have the same behaviour with standard nested scroll view.
Due to fling in compact library, we have to use smoothappbar with
coustmenested scroll view.

On Nov 15, 2016 11:32 PM, "Henry Tao" notifications@github.com wrote:

[2016-11-16 11:07] bytewired commented on #164
Also not working `app:behavior_overlapTop` in NestedScrollView

[2016-11-18 15:54] henrytao-me commented on #164
Hi @Ne1c
If you can change the order in your layout, then it may not possible with SmoothAppBarLayout unfortunately.

[2016-11-18 15:56] bytewired commented on #164
@henrytao-me i can't do it

[2016-11-18 16:05] henrytao-me commented on #164
@Ne1c
Can you show me the mockup of the screen you want to implement?

[2016-11-21 09:15] bytewired commented on #164
@henrytao-me
[code]

[2016-11-21 21:49] amanzan opened #165 "Pull-to-zoom behavior?"
Is it possible to include Pull-to-zoom feature? It would be a great addition, thanks for this library and keep up the good work! :)

![appbar_spring](https://cloud.githubusercontent.com/assets/3911627/20502032/a28462e2-b03c-11e6-887d-ba05a8a21b39.gif)

[2016-11-23 08:06] QingXu24 opened #166 "the shadow of toolbar in smooth app bar don't show"
the shadow of toolbar in smooth app bar  don't show

[2016-11-24 01:54] henrytao-me commented on #166
Hi @QingXu24

Can you post your layout here?

[2016-11-24 01:55] henrytao-me commented on #165
Hi @amanzan

That's nice. Let me take a look this weekend.

[2016-11-24 02:00] henrytao-me commented on #164
Hi @Ne1c

Can you try this layout?

[code]

[2016-11-24 03:16] QingXu24 commented on #166
[code]

[2016-11-24 06:32] bytewired commented on #164
@henrytao-me no, because `app:behavior_overlapTop="26dp"` will not working

[2016-11-24 18:56] Pachouri-Sikandar commented on #105
@henrytao-me Hey buddy, Any update on this ? I am also facing the same issue. Please help me out.

[2016-11-25 09:31] QingXu24 commented on #166
?

[2016-11-25 21:19] henrytao-me commented on #166
Hi @QingXu24

What's Appcompat version and SmoothAppBarLayout version are you using?

[2016-11-28 02:24] QingXu24 commented on #166
appcompat-v7:24.1.0
smooth-app-bar-layout:24.1.0.0

[2016-11-28 03:32] s12u opened #167 "Snap flag not working"
[code]

My code is here. But snap flag does not working. How do I use SmoothAppbarLayout's snap flags?

[2016-11-28 23:00] henrytao-me commented on #166
Hi @QingXu24

Looking at your layout, I guess you want to do something like this. Please remove SmoothCollapsingToolbarLayout and follow this example https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_scroll_parallax.xml

[2016-11-28 23:04] henrytao-me commented on #167
Hi @s12u

SmoothAppBarLayout hasn't supported snap yet. During Droidcon NYC last month, Chris Banes from AppCompat team has pretty nice example about fixing fling issue of AppBarLayout. Hopefully it will be released soon. From now on, I just maintain and support other folks to work around on their issues, not implement new features. Sorry for that.

Cheers,
Henry

[2016-11-29 01:48] s12u commented on #167
Thank you for answer @henrytao-me  :)

[2016-11-29 10:34] parkjaeiek commented on #165
@amanzan wow good i need it

[2016-11-29 19:38] fgutmann opened #168 "initial state of SmoothAppBarLayout"
We have a RecyclerView and a SmoothAppBarLayout working in combination.
The linear layout manager of the recycler view has set `setStackFromEnd(true)` which causes it to be scrolled to the bottom initially.

Everything works as expected when scrolling and flinging but initially the header image is always fully expanded. As soon as you scroll just a little, it jumps back to the correct (collapsed)

[2016-11-30 03:34] henrytao-me commented on #168
Hi @fgutmann

WhatsApp did the same thing as you mentioned. Someone has been asked for that feature as far as I remember. However, due to current approach of SmoothAppBarLayout, it is really tricky to do it (total vertical scroll-offset needs to have min-height as `screen-height + init-scroll-value`). I believe with original AppBarLayout, it is much much easier. I would say we can wait for Chris B

[2016-11-30 12:28] fgutmann commented on #168
Hi Henry,

I don't fully understand how currently the SmoothAppBarLayout works. Unfortunately waiting isn't really an option for us. We need to either find a workaround now for this issue or find a totally different solution.

Can you maybe explain to me in a little bit more detail what is going on and causing the issue?
My observation is that every programmatically triggered scrolling is ignored

[2016-12-02 08:03] rahuldevanavar91 opened #169 "Blank header issue when change tab"
Hi
   I am using following code , I am facing issue that when I change the blank header is showing .

![1](https://cloud.githubusercontent.com/assets/12570474/20826827/a1da6490-b893-11e6-839b-6e24744fbaa9.png)
![2](https://cloud.githubusercontent.com/assets/12570474/20826817/93029e92-b893-11e6-94ea-74adfb0282d8.png)

`<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schem

[2016-12-07 01:02] henrytao-me commented on #169
Hi @rahuldevanavar91

Sorry for late response. Let me take a look

[2016-12-07 11:33] MaheshCapcee opened #170 "please help"
i am using this project gradle sync failde how to solve
error is
Error:Failed to find target with hash string 'android-25' in: E:\Android\sdk

[2016-12-08 05:20] MaheshCapcee commented on #170
hello sir please help me i am also stuck

[2016-12-08 06:27] henrytao-me commented on #170
Hi @MaheshCapcee

Can you share your gradle file here?

[2016-12-08 06:31] henrytao-me commented on #169
Hi @rahuldevanavar91

This example is quite closed to what you want to do. Please check. https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_view_pager_exit_util_collapsed.xml

Also note that: adding Toolbar outside CoordinatorLayout does not seem correct to me.

[2016-12-08 07:11] gupengcheng opened #171 "轻微的滑动AppBarLayout内的View闪动"

[2016-12-08 09:13] MaheshCapcee commented on #170
[code]

[2016-12-08 09:26] MaheshCapcee commented on #170
sir
i just downloaded your project and imported in my android studio that's all

[2016-12-21 10:04] Spring1901 opened #172 "how to process the problem of data don't show completely"
![qq 20161222162753](https://cloud.githubusercontent.com/assets/13678798/21419598/9f52d628-c863-11e6-9edb-c003122f2c6f.jpg)

the problem:line0,line1 don't display

because my project don't have a toorBar,so i  set the status of the toorbar gone , and add a picture.(my project's head part is consist of a viewpager which used to show Advertisement   and a tabLayout ).
after i add the picture in xml_

[2016-12-23 00:43] henrytao-me commented on #172
Hi @Spring1901

I suggest you follow this example. If you don't use Toolbar, just keep it in layout file, don't setSupportActionBar for it and set toolbar's background to transparent.

https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_view_pager_parallax_exit_util_collapsed.xml

[2016-12-23 03:29] Spring1901 commented on #172
@henrytao-me  thanks very much for your answer. there is another question i want to ask .      i want the tabLayout slide out the screen ,not   fix  on the top.   i have set the attribute of "layout_scrollFlags" to "scroll".but it does't  have effect.

[2016-12-23 05:38] henrytao-me commented on #172
Hi @Spring1901

Will your tabLayout show up immediately when you scroll up (like quick return with toolbar)?

[2016-12-23 06:08] Spring1901 commented on #172
yes,I already know how to do it.   thanks @henrytao-me

[2016-12-28 02:18] Lucifesar opened #173 "Whether can develop a CollapsingToolbarLayout can pull spring"
like this [appbarlayout-spring-behavior library](https://github.com/ToDou/appbarlayout-spring-behavior)

[2016-12-29 00:18] smelfungus opened #174 "RecyclerView scrollToPosition doesn't affect app bar initially"
Easy reproducing with in-library sample:
SmoothScrollParallaxActivity
After line 91 add:
[code]
RecyclerView will scroll down but app bar won't collapse.
There is also an important note — if any manual interactions with RecyclerView are done before programmatic scroll — it will fire as it should.
Am I missing something? Maybe it is needed to perform some kind of sync on initialization?
Thank you i

[2016-12-31 12:45] baadillahnabil commented on #102
any update on this ?

[2017-01-02 07:15] nikhilreprime commented on #138
hi @henrytao-me
did you get time to look into this issue

[2017-01-02 07:45] henrytao-me commented on #138
Hi @nikhilreprime

Time is flying. I haven't had time for this issue yet. I am really sorry.

[2017-01-02 07:45] #171 closed, assigned to nobody

[2017-01-02 07:46] henrytao-me commented on #173
Hi @Lucifesar

I don't have plan for it right now, still waiting for Android team to fix fling issues.

[2017-01-04 05:28] Kasilingam1230 opened #175 "How to Use it in Xamarin.Android"
I have tried Java Binding, but no use with that. Kindly specify how to use it Xamarin.Android

[2017-01-05 07:32] yushilong commented on #105
@henrytao-me Hey buddy, Any update on this ? I am also facing the same issue. Please help me out too ,thank you!.

[2017-01-06 01:36] henrytao-me commented on #174
Thanks for your feedback. The fix is on this PR https://github.com/henrytao-me/smooth-app-bar-layout/pull/176. I am about deploying to all release versions.

[2017-01-06 02:07] henrytao-me commented on #174
Hi @DummyCo

What support lib version are you using?

[2017-01-06 02:13] henrytao-me commented on #174
Please check TAGS section in this repo to see all supported version. Thanks. Let me know if you run into any other issues.

[2017-01-06 02:13] #174 closed, assigned to nobody

[2017-01-06 11:43] smelfungus commented on #174
@henrytao-me, works like a charm now, thank you.
25.1.0 support version is used.

[2017-01-06 12:08] henrytao-me commented on #174
Nice @DummyCo

[2017-01-10 06:52] iztou opened #179 "Toolbar contain button and drag it"
when the button in toolbarlayout，drag the button to smooth，the toolbar cannot move

[2017-01-10 09:22] handjiny opened #180 "Problem with using RecyclerView in NestedScrollView"
When I use RecyclerView in NestedScrollView, I do not smooth the RecyclerView part.

How do I do it?

[2017-01-10 09:49] henrytao-me commented on #180
Hi @handjiny

Please post your layout here? I would like to take a look. Thanks.

[2017-01-10 09:50] henrytao-me commented on #179
Hi @ml3515582

This is known issues but it's tricky do fix. https://github.com/henrytao-me/smooth-app-bar-layout/issues/105. I still haven't had a proper solution yet.

[2017-01-10 09:50] henrytao-me commented on #175
Hi @Kasilingam1230

I haven't worked on Xamarin. Not sure how to help you with this. I am sorry.

[2017-01-11 00:53] handjiny commented on #180
Thank you for your comment

[code]

RecyclerView area is not smooth

[2017-01-11 01:23] henrytao-me commented on #180
Hi @handjiny

There is simple fix for it. Try this

[code]

Let me know if it works for you.

[2017-01-11 01:27] handjiny commented on #180
Wow thanks.!!! very well.

[2017-01-11 01:28] henrytao-me commented on #180
You are welcome. I will close this ticket for now. Happy coding!

[2017-01-11 01:28] #180 closed, assigned to nobody

[2017-01-11 01:29] henrytao-me commented on #175
I will close this ticket for now. Sorry about that.

[2017-01-11 01:29] #175 closed, assigned to nobody

[2017-01-11 01:31] #172 closed, assigned to nobody

[2017-01-11 01:33] henrytao-me commented on #170
Hi @MaheshCapcee

I am not sure how can I help on this issue. Look like you are working on Windows environment.
I will close this ticket for now but if you need further assistant, just let me know. Thanks.

[2017-01-11 01:33] #170 closed, assigned to nobody

[2017-01-11 01:33] #169 closed, assigned to nobody

[2017-01-11 17:14] ant-ia opened #181 "SmoothAppBarLayout overlaps listview"
Hi,
what is the equivalent of
`app:layout_behavior="@string/appbar_scrolling_view_behavior"`
 for the smooth library?

[2017-01-12 15:37] ant-ia commented on #181
This is my Layout:
[code]

If use "app:layout_behavior="@string/appbar_scrolling_view_behavior" i have a lag on  scroll

the version of my  library is 23.4.0.1 and

[2017-01-12 22:02] henrytao-me commented on #181
Hi @ant-ia

You dont have to specify `app:layout_behavior="@string/appbar_scrolling_view_behavior"` in order to use SmoothAppBarLayout. Just need to change the order a bit: move ViewPager above SmoothAppBarLayout. Please check the sample here https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_view_pager_exit_util_collapsed.xml

Thanks,

[2017-01-12 22:02] #181 closed, assigned to nobody

[2017-01-12 22:08] ant-ia commented on #181
Hi @henrytao-me  thanks for answer. But if change the order like you said above, the first elements of the list are covered

[2017-01-12 23:08] henrytao-me commented on #181
With SmoothAppBarLayout, you have to specify the header height of every list which has the same height as SmoothAppBarLayout in order to fix the cover issue.

[2017-01-12 23:35] ant-ia commented on #181
Thanks again for your reply.
Only I have the list into another XML file that a fragment.
How do I set?

`    <android.support.v7.widget.RecyclerView
        android:id="@+id/list"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        tools:listitem="@layout/list_item_test"
        />
`

[2017-01-13 00:57] henrytao-me commented on #181
If you put list into fragment, it won't work with SmoothAppBarLayout in current release version. Sorry for that.

[2017-01-13 01:00] ant-ia commented on #181
Which version might work?

or else what to me to make recommendations?
I have still a fragment of tablayout ...

[2017-01-13 01:08] henrytao-me commented on #181
Let me do a test again and let you know soon.

[2017-01-13 01:09] ant-ia commented on #181
Agree! I thank you and I am waiting for your miracle :)

[2017-01-13 22:59] henrytao-me commented on #181
Hi @ant-ia

Please check this branch. I tested fragment with SmoothAppBarLayout (without viewpager), it works. For viewpager, SmoothAppBarLayout supports fragment by default.

https://github.com/henrytao-me/smooth-app-bar-layout/tree/issue-181
https://github.com/henrytao-me/smooth-app-bar-layout/commit/4e414f2174389742f7fc6d8f8693dead06120b0a

Cheers,
Henry

[2017-01-14 00:22] ant-ia commented on #181
Hi @henrytao-me . thank for the support.

This it did work!
But we still have the same problem with viewpager.

i have the main xml like :

[code]

then I have a list that I work in a fragment Class, like this xml:

[code]

[code]

Any fragment that would add to ViewPager ...
(Which contains a list or not) is overwritten by the height of SmoothAppBarLayout

[2017-01-14 00:50] henrytao-me commented on #181
Hi @ant-ia

Can you remove `layout_behavior` in your view_pager? AppBarLayout should be changed to SmoothAppBarLayout. It should be like this
[code]

[2017-01-14 00:57] ant-ia commented on #181
I'm sorry, I had copied the unmodified code.
In the example it is exactly like you said.

It still does not work

@henrytao-me

[2017-01-14 01:15] henrytao-me commented on #181
Hmmmmmmm. Can you share me the repo or can you be able to share video to illustrate the issue?

[2017-01-14 01:28] ant-ia commented on #181
certainly give me a few minutes you'll make the repo and you share it

[2017-01-14 01:56] ant-ia commented on #181
Hi @henrytao-me

you can download the test repo here:

https://www.dropbox.com/s/hldvzwzvy6d6v19/TestApp.zip?dl=0

[2017-01-14 03:32] henrytao-me commented on #181
Hi @ant-ia

I couldn't run your project unfortunately. It said
[code]

The issue may come from `fitSystemWindows`. Please try to remove it first and follow exactly this example https://github.com/henrytao-me/smooth-app-bar-layout/blob/master/sample/src/main/res/layout/activity_smooth_view_pager_exit_util_collapsed.xml

I prefer git project rather than zip file because it's easier to track changes.

[2017-01-14 04:04] ant-ia commented on #181
i removed `fitSystemWindow` but not work yet.

Sorry for the exception add

` defaultConfig {
    multiDexEnabled true
}`

to your app build.gradle file

@henrytao-me

[2017-01-24 10:20] pstambrecht commented on #135
I am sorry I can't because the project is secret and was not released yet. The problem is that anchored view is scrolling slower than SmoothAppBarLayout.

[2017-01-25 10:59] ayinmursalin opened #182 "SmoothScroll with ListView"
i don't ever try Collapsing Toolbar yet, and i need add that thing to my ListView

i have try yours but i see nothing (?)

and i don't know what means you add <RecyclerView> in above of <SmoothAppBarLayout>
i use this smoothappbar for include content_main, which is have <ListView>

i need your guide, thanks..

[2017-01-25 10:59] ayinmursalin commented on #182
this is my activity_main.xml

`<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystemWindows="tru

[2017-01-25 11:00] ayinmursalin commented on #182
and this is my code for main_activity.xml

`<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSyste

[2017-01-25 11:02] ayinmursalin commented on #182
and this is on content_main.xml

`<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/content_main"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:layout_behavior="@str

[2017-01-25 11:03] ayinmursalin commented on #182
<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/content_main"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:layout_behavior="@string/appbar_scrolling_view_behavior

[2017-02-01 00:12] vszakd opened #183 "AppBarLayout.setExpanded(bool) causes strange behaviour"
Hello,
I'm experiencing a strange issue that _does not happen_ with the regular support AppBarLayout.
This is the main Activity layout:
[code]

Fragment B layout
[code]

Now let's say that `fragment_placeholder` has fragment A shown. We then replace it via a transaction with fragment B, which calls AppBarLayout.setExpanded(true) in its onCreateView() callback.
Here it comes the problem: if the Too

[2017-02-02 02:26] henrytao-me commented on #182
Hi @ayinmursalin

SmoothAppBarLayout doesn't work with ListView

[2017-02-02 04:10] henrytao-me commented on #183
Hi @mollicaw

Please try to call `smoothAppBarLayout. syncOffset(0);` to reset scrolling position after switching to  fragment B. Also notice that, you have RecyclerView inside NestedScrollView in fragment B, please call `recyclerView.setNestedScrollEnabled(false);`.

Let me know if it works for you. Thanks.

[2017-02-02 17:40] vszakd commented on #183
Hello @henrytao-me, thanks for your suggestion!
`recyclerView.setNestedScrollEnabled(false);` was already present and `syncOffset(0);` resolved the problem, but only partially.
The previous use-case is now solved but there is a new problem, here is how to reproduce it:
1. Stay on fragment A and let the toolbar disappear scrolling down
2. Do something to switch to fragment B
3. OK! Everything seems

[2017-02-02 22:40] henrytao-me commented on #183
Hi @mollicaw

It looks like you use backstack with fragment. In that case, you may need to reset scrolling position (by calling `setSyncOffset(0)`) when backstack is changed (doing backpress).

Let me know if you need further assistant.

Cheers,
Henry

[2017-02-05 13:25] iztou commented on #179
ok,thanks,i realy holp you can solved it

[2017-02-10 06:47] Jhuku commented on #182
I see that SmoothAppBarLayout works only with recycler views. Why cant it be made more generic so that it works with any view.

[2017-02-10 06:48] Jhuku opened #184 "SmoothAppBarLayout works only with RecyclerViews"
I see that SmoothAppBarLayout works only with recycler views. Why cant it be made more generic so that it works with any view.

[2017-02-10 06:55] henrytao-me commented on #184
Hi @Jhuku

It works with RecyclerView and NestedScrollView. It also works with other PullDownToRefresh as well.

What scroll view do you want to use with AppBarLayout beside RecyclerView and NestedScrollView?

[2017-02-10 06:58] Jhuku commented on #184
I tried with nested scroll view. It doesn't work. I used  app:sabl_target_id="@/nestedScroll" attribute inside SmoothAppBarLayout.

[2017-02-10 07:05] henrytao-me commented on #184
Can you post your layout here?

[2017-02-10 07:07] Jhuku commented on #184
[code]

[2017-02-10 08:10] henrytao-me commented on #184
Hi @Jhuku

Please do following steps:
- Remove `app:layout_behavior="@string/appbar_scrolling_view_behavior"` in your `NestedScrollView`. => Do not use layout_behavior with SmoothAppBarLayout.
- Remove `app:sabl_target_id="@id/nest"` => This is unnecessary in this layout.

I hope it helps.

[2017-02-10 08:10] #183 closed, assigned to nobody

[2017-02-10 08:10] #182 closed, assigned to nobody

[2017-02-10 11:03] #184 closed, assigned to nobody

[2017-02-12 10:36] jonschmidt opened #185 "setExpanded with animation does not seem to work"
Hi Henry,

Thanks for trying to provide a workaround for everyone who is frustrated with the support library. I have a simple question. What is the recommended behavior for using `setExpanded` with an animation? It does not seem to work at all, as in the appbarlayout closes (using the underlying appbarlayout animation logic), but the recyclerview does not scroll at all. I have to create functional

[2017-02-13 02:07] henrytao-me commented on #185
Hi @jonschmidt

Thanks for using this library. SmoothAppBarLayout is one way binding which mean it only can scroll if and only if scroll view has enough height and scroll event happens. That ends up `setExpanded(false, true)` won't work properly.

I just investigate and have a quick solution for this issue. I will send an update soon. What version of AppCompat and SupportDesign are you using?

[2017-02-13 09:42] jonschmidt commented on #185
We are currently on 25.0.1. Thanks for looking into it.

[2017-02-13 22:10] henrytao-me commented on #185
Hi @jonschmidt

Please try v25.0.1.1. Let me know if it fixed for you.
Are you working at SoundCloud? That's a great company.

Cheers,
Henry

[2017-02-13 22:12] #185 closed, assigned to nobody

[2017-02-14 10:39] jonschmidt commented on #185
Hi Henry.

Thanks for the quick update. I do work there, yes. Thanks!

I have some new requirements that might lead me to not be able to make use of the library, but if not I will make sure you get credited for your work and get you any feedback I have.

Jon

[2017-02-14 15:06] henrytao-me commented on #185
Hi @jonschmidt

If you have any concerns, feel free to let me know.

Cheers,
Henry

[2017-02-28 07:48] florianPOLARSTEPS commented on #179
@henrytao-me I found a workaround for the issue, which is nowhere near optimum, but for my requirements it works fine.

**First** one would need to return false for all dispatchTouchEvents in SmoothAppBarLayout, so the behaviour can take over the touches.

[code]

**Secondly**, we will need to pass down the touch events, so all clicklisteners in the header etc. will receive their events.

[code]

[2017-02-28 07:52] florianPOLARSTEPS commented on #105
@henrytao-me I found a workaround for the issue, which is nowhere near optimum, but for my requirements it works fine and it could be a start for a solution.

**First** one would need to return false for all dispatchTouchEvents in SmoothAppBarLayout, so the behaviour can take over the touches.

[code]

**Secondly**, we will need to pass down the touch events, so all clicklisteners in the header et

[2017-03-01 07:28] jimitpatel commented on #105
@florianPOLARSTEPS that part didn't improved anything in my code. In fact, it has even disabled my touch events

[2017-03-01 07:30] henrytao-me commented on #105
Thanks for sharing. I will look into it shortly

[2017-03-01 09:01] Chen-Sir opened #187 "how to pin a view to the top in SmoothAppBarLayout"
`<android.support.design.widget.CoordinatorLayout
    android:layout_width="match_parent"
     android:layout_height="match_parent">

  <android.support.v7.widget.RecyclerView
    android:id="@android:id/list"
    android:layout_width="match_parent"
    android:layout_height="match_parent" />

  <me.henrytao.smoothappbarlayout.SmoothAppBarLayout
    android:id="@+id/smooth_app_bar_layout"
    andr

[2017-03-01 10:07] florianPOLARSTEPS commented on #105
@henrytao-me Due to the nature of the workaround ( basically duplicating touch events ) there are a few side effects. It can happen that 2 touches at the same time are registered.

I am also looking for a proper solution, but I am still trying to wrap my head around the whole touch event propagation system in a coordinator layout.

[2017-03-01 10:51] florianPOLARSTEPS commented on #105
@henrytao-me I found another possible workaround which is a bit nicer since it does not require a custom CoordinatorLayout and will work for clicks in the header only.

[code]

[2017-03-01 17:48] ghost commented on #187
app:layout_scrollFlags="scroll"
Change scroll flag to pin

[2017-03-01 21:13] henrytao-me commented on #105
Hi @florianPOLARSTEPS, it really works. Awesome. Let's me add that to next release and mark you as contribution. Thanks a lot.

[2017-03-02 01:35] Chen-Sir commented on #187
@taatu0 “pin” flag is in CollapsingToolbarLayout.

[2017-03-02 03:43] #187 closed, assigned to nobody

[2017-03-04 22:17] shifatul-i opened #188 "Please update for new android support libraries"
currently used
[code]

Update to
[code]

[2017-03-04 22:56] henrytao-me commented on #188
Thanks for using this library. I updated it.

[2017-03-04 22:56] #188 closed, assigned to nobody

[2017-03-04 22:56] shifatul-i opened #189 "Toolbar "snap" doesn't work"
Hi,
layout_scrollFlags="snap" doesn't work with Toolbar
I think this would be a great addition to this library

[code]

[2017-03-04 23:02] shifatul-i commented on #189
Sorry, I just saw that you r not planning to add new features to this library. Anyway, thanks for the work around solution. Awesome library.

[2017-03-06 16:27] jintoga opened #190 "NestedScrollView overlapTop behavior and Toolbar"
Hi! I want to achieve this behavior where NestedScrollView overlap CollapsingToolbarLayout and MenuItems of Toolbar are still clickable. But the problem is if i place the NestedScrollView above SmoothAppBarLayout then the MenuItems of Toolbar are clickable but  the content inside the NestedScrollView stay behind CollapsingToolbarLayout. And if i place NestedScrollView below SmoothAppBarLayout then

[2017-03-08 17:57] jintoga commented on #190
I already managed to resolve the problem by placing the Header inside NestedScrollView.

[2017-03-08 17:57] #190 closed, assigned to nobody

[2017-03-08 18:09] jintoga opened #191 "ViewPager quick return with Header and TabLayout"
So basically what i'm looking for is when the SmoothAppBarLayout is not fully expanded, only Toolbar and TabLayout are supposed to show up(Toolbar above TabLayout). And when it's fully expanded, all the views inside it are displayed(ImageView or ViewGroup with Children, Toolbar and TabLayout).  Can you please provide an example or some advises of how to achieve this using SmoothAppBarLayout?

[2017-03-11 06:08] nikhilreprime commented on #105
@florianPOLARSTEPS  thanks for providing this workaround
@henrytao-me when are you planning to deploy next release

[2017-03-28 14:26] oguzozcan opened #192 "Toolbar inside SmoothAppBarLayout has more height than intended"
Hello,

First of all, many thanks for the great library. I just changed my Appbar with SmoothAppBar everything is perfect except one thing. Collapsed size of the toolbar should have a size "actionBarSize" but after i switched to your library its size is bigger now.

Till now i couldn't find a way to solve this. I thought this could be about the title padding but disabling the title didn't help. Se